

{% load i18n %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/group.css' %}">

<div id="fgroups">

<h3>Grupos a los que pertenece {{ friend.first_name }} {{ friend.last_name }}</h5>

{% if groups %}
    {% for group in groups %}
        <div id="grs">
        {% if group in ugroups %}<div id="cg">{% endif %}
            <label>{{ group.name }}</label>
        <a href="{% url 'group_view' group.id %}" class="btn btn-info" role="button">Ver grupo</a> <br/>
        {% if group in ugroups %}</div>{% endif %}
        </div>
    {% endfor %}
    <p>Los grupos marcados en <label id="green2">verde</label> son grupos a los que perteneces.</p>
    <a href="{% url 'search_friend_group' friend.email %}" class="btn btn-info" role="button">Filtrar grupos de {{ friend.first_name }} </a><br/>
{% else %}
    <p id="nogr">No est&aacute;s en ning&uacute;n grupo. A que esperas?</p>
    <a href="{% url 'search_group' %}" class="btn btn-info" role="button">Buscar grupos</a><br/>
{% endif %}
<input type=button value="Volver Atr&aacute;s" onClick="javascript:history.go(-1);">

</div>