
{% load i18n %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/group.css' %}">

<div id="ugroups">

<h3>Grupos a los que perteneces</h3>

{% if groups %}
<tbody>
    {% for group in groups %}
        <div id="grs">
            {% if group in cgs %}<div id="cg">{% endif %}
            <label>{{ group.name }}</label>
            <a href="{% url 'group_view' group.id %}" class="btn btn-info" role="button">Ver grupo</a> <br/>
            {% if group in cgs %}<br/></div>{% endif %}
        </div>
    {% endfor %}<br/><br/>
    
            <div id="pagination">
            {% if groups.has_previous %}
            <a href="?page={{ groups.previous_page_number }}"><-</a>
            {% endif %}

            <span class="current">
            {{ groups.number }}/{{ groups.paginator.num_pages }}
            </span>

            {% if groups.has_next %}
            <a href="?page={{ groups.next_page_number }}">-></a>
            {% endif %}
        </div>
    
    <p>Los grupos marcados en <label id="green2">verde</label> son grupos creados por t&iacute;</p>
    <a href="{% url 'search_user_group' %}" class="btn btn-info" role="button">Filtrar grupos</a><br/>
</tbody>
{% else %}
    <p id="nogr">No est&aacute;s en ning&uacute;n grupo. &#191;A que esperas?</p>
    <a href="{% url 'search_group' %}" class="btn btn-info" role="button">Buscar grupos</a><br/>
{% endif %}<br/>
<a href="{% url 'groups_menu' %}" class="btn btn-info" role="button">Volver atr&aacute;s</a><br/>
</div>