
{% load i18n %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/group.css' %}">

<div id="group_view">

        {% if mainphoto.photo %}
        <img src="{{ mainphoto.photo.image.url }}"><br/>
        {% else %}
        <img src="{% static 'images/group_icon.jpg' %}" alt="GIcon"/><br/>
        {% endif %}<br/><br/><br/>

    {% if join %}
        <h3>'{{ group.name }}'</h3>

        <div id="rights">
        Creado por <a href="{% url 'user_view' group.creator.email %}">
        {{ group.creator.first_name }} {{ group.creator.last_name }}</a>,<br/>
        el {{ group.created|date:_("DATETIME_FORMAT") }}</div>
        
        <div id="but1">
        <a href="{% url 'groups_sent_invitations' group.id %}" class="btn btn-info" role="button">Invitaciones enviadas</a><br/>
        <a href="{% url 'list_group_members' group.id %}" class="btn btn-info" role="button">Ver miembros del grupo</a><br/>
        <a href="{% url 'invite_to_group' group.id %}" class="btn btn-info" role="button">Invitar a un amigo a unirse al grupo</a><br/>
        <a href="{% url 'group_photobook_view' group.id %}" class="btn btn-info" role="button">Ver fotos del grupo</a><br/>
        <a href="{% url 'group_new_comment' group.id %}" id="newcom" class="btn btn-info" role="button">Nuevo comentario</a><br/>
        <a href="{% url 'groups_menu' %}" id="back" class="btn btn-info" role="button">Volver al Men&uacute; de Grupos</a><br/>   
        </div>
        
        {% if gcr %}<div id="but2">
            <a href="{% url 'rename_group' group.id %}" class="btn btn-info" role="button">Cambiar nombre de grupo</a><br/>
            <a href="{% url 'groups_received_requests' group.id %}" class="btn btn-info" role="button">Ver solicitudes de uni&oacute;n</a><br/>
            <a href="{% url 'delete_group' group.id %}" id="out1" class="btn btn-info" role="button">Eliminar grupo</a><br/></div>
        {% else %}
            <a href="{% url 'leave_group' group.id %}" id="out2" class="btn btn-info" role="button">Salir del grupo</a><br/>
        {% endif %}
        
        {% if gcr %}<div id="comm1">
        {% else %}<div id="comm2">
        {% endif %}
        <h5><strong>Comentarios del grupo</strong></h5>
        {% if comm %}
            {% for c in comm %}
            <div id="c">
                <p>{{ c.comment.ctext }}</p>
                <label>Escrito por <a href="{% url 'user_view' c.comment.author.email %}">
                {{ c.comment.author.first_name }} {{ c.comment.author.last_name }}</a>,<br/>
                el {{ c.created|date:_("DATETIME_FORMAT") }}<br/></label>
                {% if gcr %}  
                    <a id="delcom" href="{% url 'group_remove_comment' group.id c.id %}" class="btn btn-info" role="button">Eliminar comentario</a><br/>
                {% endif %}  
                
                <div id="like">
                <a href="{% url 'group_like_comment' group.id c.id %}" class="btn btn-info" role="button">Me gusta</a><br/>
                
                <label>A {{ c.likes }} persona(s) le(s) gusta este comentario</label>
                {% if c.likes > 0 %}
                    <a id="sl" href="{% url 'group_comment_likes_list' group.id c.id %}">Ver</a> 
                {% endif %}
                </div>
             </div>   
            {% endfor %}
            
                    <div id="pagination">
            {% if comm.has_previous %}
            <a href="?page={{ comm.previous_page_number }}"><-</a>
            {% endif %}

            <span class="current">
            {{ comm.number }}/{{ comm.paginator.num_pages }}
            </span>

            {% if comm.has_next %}
            <a href="?page={{ comm.next_page_number }}">-></a>
            {% endif %}
        </div>
            
        {% else %}
            <p id="noc">Este grupo a&uacute;n no tiene comentarios</p>
        {% endif %}
        </div>
        <br/>
        
    {% else %}
        <div id="nm">
        <h3>El acceso al contenido de {{ group.name }} est&aacute; restringido &uacute;nicamente a miembros del grupo.</h3>
            <div id="send">
            <h5>Puedes enviar una solicitud para unirte a este grupo</h5>
            <a href="{% url 'send_request' group.id %}" class="btn btn-info" role="button">Enviar solicitud para unirse a {{ group.name }}</a><br/>
            <a href="{% url 'report_group' group.id %}" class="btn btn-info" role="button">Reportar grupo</a><br/>
            <input id="back" type=button value="Volver Atr&aacute;s" onClick="javascript:history.go(-1);">
            </div>
        </div>
    {% endif %}
    <br/>

</div> 

