
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/group.css' %}">

<div id="groups_menu">

<h3>Grupos</h3>

<div id="buttonery">
<a href="{% url 'create_group' %}" class="btn btn-info" role="button">Crear grupo</a><br/>
<a href="{% url 'search_group' %}" class="btn btn-info" role="button">Buscar grupos</a><br/>
<a href="{% url 'list_groups' %}" class="btn btn-info" role="button">Todos tus grupos</a><br/>
<a href="{% url 'members_sent_invitations' %}" class="btn btn-info" role="button">Invitaciones enviadas</a><br/>
<a href="{% url 'members_received_invitations' %}" class="btn btn-info" role="button">Invitaciones recibidas</a><br/>
<a href="{% url 'groups_sent_requests' %}" class="btn btn-info" role="button">Solicitudes enviadas</a><br/>
<a href="{% url 'main_menu' %}" class="btn btn-info" role="button">Volver al Men&uacute; Principal</a><br/>    
</div>

</div>