
{% load i18n %}

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/storage.css' %}">

<div id="newfo">

<h3>Nueva carpeta en {{ folder.name }}</h3>

<form action="{% url 'create_folder_in_folder' folder.id %}" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Crear carpeta">
</form>
<a href="{% url 'folder_view' folder.id %}" class="btn btn-info" role="button">Volver atr&aacute;s</a><br/>

</div>