
{% load i18n %}

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" class="btn btn-info" role="button">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" class="btn btn-info" role="button">
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/storage.css' %}">

<div id="folder_view">

    {% if folder.parent_folder %}
        <a id='par' href="{% url 'folder_view' folder.parent_folder.id %}">
        {{ folder.parent_folder.name }}
        </a>  /<img src="{% static 'images/folder_icon.png' %}" alt="FldLogo"/> {{ folder.name }}</h3>
    {% else %}
        <h5><a href="{% url 'store_view' %}" class="btn btn-info" role="button" id="bck">Volver Atr&aacute;s</a></h5>
        <h3><img src="{% static 'images/folder_icon.png' %}" alt="FldLogo"/> {{ folder.name }}</h3>
    {% endif %}
    <p id="created">Creada el {{ folder.created|date:_("DATETIME_FORMAT") }}</p>
   
        <div id="btt">
        {% if fcr %}
            <a href="{% url 'rename_folder' folder.id %}" class="btn btn-info" role="button">Cambiar nombre de la carpeta</a><br/>
            <a href="{% url 'upload_file_in_folder' folder.id %}" class="btn btn-info" role="button">Subir archivo</a><br/>
            <a href="{% url 'create_folder_in_folder' folder.id %}" class="btn btn-info" role="button">Crear subcarpeta</a><br/>
            {% if folder.parent_folder %}
            <a href="{% url 'move_folder_out_of_folder' folder.id %}" class="btn btn-info" role="button">Extraer de la carpeta</a><br/>
            {% endif %}
        {% else %}
            <a href="{% url 'report_folder' folder.id %}" class="btn btn-info" role="button">Reportar carpeta</a><br/>
        {% endif %}
        <a href="{% url 'delete_folder' folder.id %}" class="btn btn-info" role="button">Eliminar carpeta</a><br/>
        <a href="{% url 'share_folder' folder.id %}" class="btn btn-info" role="button">Compartir carpeta</a><br/>
        <a href="{% url 'download_folder' folder.id %}" class="btn btn-info" role="button">Descargar carpeta completa</a><br/>
        </div>
        
        <div id="content">
        {% if empty %}
            <label>Esta carpeta est&aacute; vac&iacute;a</label><br/>
        {% else %}
            <a href="{% url 'folder_search' folder.id %}" class="btn btn-info" id="schfld" role="button">Buscar en {{ folder.name }}</a><br/>
        {% endif %}
            {% if cfolders %}
            <h4>Carpetas</h4><td id="flds">
                 
                {% for cfl in cfolders %}
                    <h5><img id="flde" src="{% static 'images/folder_icon.png' %}" alt="FldLogo"/> {{ cfl.name }}
                        {% if cfl.get_folder_size >= mbu %}
                            ({{ cfl.get_folder_size }} MB)
                        {% else %}
                            ({{ cfl.get_folder_size }} KB)
                        {% endif %}</h5><br/>
                    Creada el {{ cfl.created|date:_("DATETIME_FORMAT") }}<br/>
                    <a href="{% url 'folder_view' cfl.id %}" class="btn btn-info" role="button" class="btn btn-info" role="button">Ver carpeta</a><br/>
                    {% if fcr %}
                        <a href="{% url 'move_folder_into_folder' cfl.id %}" class="btn btn-info" role="button" class="btn btn-info" role="button">Mover a carpeta</a><br/>
                        <a href="{% url 'delete_folder' cfl.id %}" class="btn btn-info" role="button">Eliminar carpeta</a><br/>
                        {% if cfl.parent_folder %}
                        <a href="{% url 'move_folder_out_of_folder' cfl.id %}" class="btn btn-info" role="button" class="btn btn-info" role="button">Extraer de la carpeta</a><br/>
                        {% endif %}
                    {% else %}
                        <a href="{% url 'report_folder' cfl.id %}" class="btn btn-info" role="button">Reportar carpeta</a><br/>
                    {% endif %}
                    <a href="{% url 'share_folder' cfl.id %}" class="btn btn-info" role="button">Compartir carpeta</a><br/><br/>
                {% endfor %}
            {% endif %}
            <br/><br/><br/>
            {% if cfiles %}
                <h4>Archivos</h4>

                {% for cf in cfiles %}        
                    <h5><img id="logotype" src="{% static 'images/file_icon.png' %}" alt="FLogo"/> {{ cf.filename_as_list|last }}
                    {% if cf.filesize_in_kb >= mbu %}
                        ({{ cf.filesize_in_mb }} MB)
                    {% else %}
                        ({{ cf.filesize_in_kb }} KB)
                    {% endif %}</h5><br/>
                    Subido el {{ cf.created|date:_("DATETIME_FORMAT") }}<br/>
                    {% if fcr %}
                        <a href="{% url 'move_file_into_folder' cf.id %}" class="btn btn-info" role="button" class="btn btn-info" role="button">Mover a carpeta</a><br/>
                        {% if cf.parent_folder %}
                        <a href="{% url 'move_file_out_of_folder' cf.id %}" class="btn btn-info" role="button" class="btn btn-info" role="button">Extraer de la carpeta</a><br/>
                        {% endif %}
                        <a href="{% url 'delete_file' cf.id %}" class="btn btn-info" role="button">Eliminar archivo</a><br/>
                    {% else %}
                        <a href="{% url 'report_file' cf.id %}" class="btn btn-info" role="button">Reportar archivo</a><br/> 
                    {% endif %}
                    <a href="{% url 'download_file' cf.id %}" class="btn btn-info" role="button">Descargar archivo</a><br/>
                    <a href="{% url 'share_file' cf.id %}" class="btn btn-info" role="button">Compartir archivo</a><br/><br/>
                {% endfor %}
            {% endif %}
    </div>
</div>