
{% load i18n %}

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/storage.css' %}">

<div id="rename">
<h3>Cambiar nombre de carpeta</h3>

<form action="" method="post">{% csrf_token %}
		{{ form.as_p }}
	<input type="submit" value="Confirmar"/>
</form>

<a id="bck" href="{% url 'folder_view' folder.id %}" class="btn btn-info" role="button">Volver atr&aacute;s</a>

</div>