
{% load i18n %}

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/storage.css' %}">

<div id="shfolder">

<h3>Compartir carpeta {{ folder.name }}</h3>

<form id="filtform" action="" method="get">
    Filtrar Amigos: <input type="text" name="q"/><br/>
    <input type="submit" value="Filtrar"/><br/>
</form>

<form id="shform" action="" method="post">{% csrf_token %}
    <table>{{ form.as_table }}</table>
    <input type="submit" id="sharebutton" value="Compartir">
</form>

<a id="bck" href="{% url 'store_view' %}" class="btn btn-info" role="button">Volver atr&aacute;s</a>

</div>