
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/storage.css' %}">

<div id="moveout">

<h3>Remover de {{ folder.name }}</h3>

<form action="" method="post">{% csrf_token %}
<h5>&#191;eguro que quieres mover este archivo o fichero de {{ folder.name }}?</h5>
<input type="submit" name="move_out" value="Confirmar"/>
<input type="submit" name="no_move" value="Cancelar"/>
</form>

</div>