body {
    display: block;
    margin: 20 300;
    background: #baf;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #024;
}

input[type=submit] {
    width: 160;
}

input[type=button] {
    width: 160;
}

#green {
    color: #494;
}

div {
    line-height: 0.7;
}

input {
    border-color: #8ac #cdf #8ac #cdf; 
    font-weight: bold;
    position: relative;
    top: 20;
    left: 50;
    width: 200;
    height: 30; 
}

input[type=submit]{
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254)); 
}

input[type=button]{
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254)); 
}

.btn-info {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));  
    color: #024;
    font-weight: bold;
    border-color: #458
}

.btn-info:hover{
    border-color: #111;
    border-color: #eee;
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));
}

.btn-info:active{
    border-color: #111;
    border-color: #eee;
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));
}

#groups_menu {
    text-align: center;
    position: relative;
    font-size: 16px;
    top: 40;
    right: 0;  
}

#groups_menu #buttonery {
    position: relative;
    font-size: 16px;
    top: 10;
    left: 0;   
}

#groups_menu #buttonery .btn-info {
    position: relative;
    font-size: 16px;
    top: 40;
    right: 0;   
    width: 300;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#cgroup {
    text-align: center;
    position: relative;
    top: 40;
    right: 40;     
}

#cgroup h3 {
    position: relative;
    top: 0;
    left: 40;    
}

#cgroup form {
    position: relative;
    top: 20;
    left: 100;    
}

#cgroup form table {
    position: relative;
    top: 0;
    left: 20;  
}

#cgroup form label{
    position: relative;
    top: 20;
    left: 40;    
}

#cgroup form #click{
    display: block;
    position: relative;
    top: 50;
    right: 100; 
}

#cgroup form #click input{
    width: 160
}

#group_view {
    text-align: center;
    position: relative;
    top: 20;
    right: 60;  
}

#group_view h3 {
    position: relative;
    top: 0;
    right: 300;  
}

#group_view img {
    position: relative;
    top: 20;
    right: 300;  
}

#group_view #rights {
    position: relative;
    top: 50;
    right: 300;  
    line-height: 1.2;
}

#group_view #rights a {
    color: #024;
    font-weight: bold;
}

#group_view #but1 {
z-index: 1;
    position: relative;
    bottom: 250;
    left: 150; 
}

#group_view img {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#group_view #out1 {
    background: linear-gradient(rgb(180,120,140), rgb(240,190,224)); 
}

#group_view #out2 {
    background: linear-gradient(rgb(180,120,140), rgb(240,190,224)); 
    position: relative;
    bottom: 120;
    right: 300; 
}

#group_view #but1 a {
    width: 260;
}

#id_to_users label input[type=checkbox] {
    display: block;
    width: 800;
    height: 12;
    position: relative;
    top: 10;
    left: -150; 
}

#id_to_users label {
    display: block;
    width: 800;
    position: relative;
    top: 10;
    left: 80; 
}


#group_view #but2 {
    display: block;
    position: relative;
    bottom: 120;
    right: 300; 
}

#group_view #comm1  {
    position: relative;
    bottom: 300;
    left: 200; 
}

#lreq #pagination {
    text-align: center;
    position: relative;
    top: 30;
    left: 60;
    font-weight: bold;
}


#comm1 #pagination {
    text-align: center;
    position: relative;
    top: 10;
    left: 60;
    font-weight: bold;
}

#comm1  h5 {
    text-align: center;
    position: relative;
    bottom: 0;
    right: 30;
    font-size: 16px;
}

#comm1 #noc  {
    font-weight: bold;
    color: #402;
    position: relative;
    top: 10;
    right: 40; 
}

#comm1 #newcom  {
    position: relative;
    top: 0;
    left: 50; 
}
#group_view #comm2  {
    position: relative;
    bottom: 240;
    left: 100; 
}

#comm2 #pagination {
    text-align: center;
    position: relative;
    top: 10;
    left: 60;
    font-weight: bold;
}

#igl #pagination {
    text-align: center;
    position: relative;
    top: 60;
    left: 20;
    font-weight: bold;
}

#comm2  h5 {
    text-align: center;
    position: relative;
    bottom: 0;
    left: 54;
    font-size: 16px;
}

#comm2 #noc  {
    font-weight: bold;
    color: #402;
    position: relative;
    top: 10;
    left: 60; 
}

#comm2 #newcom  {
    position: relative;
    top: 0;
    left: 50; 
}

#group_view #but2 h5 {
    font-weight: bold;
    color: #353;
}

#group_view #but2 a {
    width: 260
}

#group_view #c {
    position: relative;
    bottom: 0;
    left: 180; 
    width: 500;
    min-height: 220;
    overflow: visible;
    font-weight: bold;
}

#group_view #c p {
    font-weight: bold;
    text-align: center;
    display: block;
    font-size: 20px;
    line-height: 3;
    min-height: 40;
    overflow: visible;
}

#group_view #nm {
    text-align: center;
        position: relative;
    bottom: 270;
    left: 540;
}

#group_view #nm #send {
        position: relative;
    top: 20;
    right: 370;
}

#nm #send h5 {
    position: relative;
    top: 0;
    left: 50;
}

#nm #send .btn-info {
    position: relative;
    top: 20;
    left: 50;
    width: 300;
}

#nm #send input {
    position: relative;
    top: 50;
    right: 160;
    width: 250;
}

#group_view #c label {
    text-align: center;
    line-height: 1.2;
    position: relative;
    top: 15;
    right: 5; 
    font-weight: normal;
}

#group_view #c label a {
    font-weight: bold;
    line-height: 1.2;
    color: #024;
}

#group_view #c #delcom {
    position: relative;
    bottom: 5;
    left: 10; 
}

#group_view #c #like {
    position: relative;
    top: 30;
    left: 0; 
}

#group_view #c #like p {
    position: relative;
    top: 10;
    left: 0; 
}

#group_view #c #like #sl {
    position: relative;
    font-weight: bold;
    color: #024;
    top: 8;
    left: 40; 
}

#newco {
    position: relative;
    top: 50;
    left: 200;
}

#newco form {
    position: relative;
    bottom: 150;
    right: 30;
}

#newco form label {
    text-align: center;
    position: relative;
    top: 120;
    left: 70;
}

#newco form textarea {
    position: relative;
    top: 240;
    right: 180;
    width: 300;
    height: 100;
}

#newco form input[type=submit] {
    position: relative;
    top: 260;
    left: 60;
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));
}

#newco input[type=button] {
    position: relative;
    top: 100;
    left: 30;
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));
}


#del_comm {
    text-align: center;
    position: relative;
    top: 20;
    right: 60;  
}

#del_comm form {
    position: relative;
    top: 20;
    right: 40;   
}

#del_comm form h5 {
    position: relative;
    top: 0;
    left: 40;   
}

#del_comm input {
    width: 120;
}

#sch_group_form {
    position: relative;
    top: 20;
    left: 150;  
}

#sch_group_form h3 {
    text-align: center;
    position: relative;
    top: 0;
    right: 200;  
}

#sch_group_form form {
    position: relative;
    top: 20;
    left: 0;  
}

#sch_group_form form h5 {
    position: relative;
    top: 10;
    left: 0;  
}

#sch_group_form form #tx {
    position: relative;
    top: 20;
    left: 0; 
}

#tx label {
    position: relative;
    top: 20;
    left: 0; 
}

#sch_group_form form input[type=submit] {
    position: relative;
    top: 80;
    left: 120; 
}

#sch_group_form form input[type=button] {
    position: relative;
    top: 100;
    left: 120; 
}

#sch_group_res {
    position: relative;
    top: 20;
    left: 240; 
    
}

#sch_group_res h3 {
    position: relative;
    top: 0;
    left: 10; 
}

#sch_group_res a {
    color: #345;
    position: relative;
    top: 0;
    right: 100;
    display: block;
    width: 200;
}

#sch_group_res #found {
    display: block;
    position: relative;
    top: 30;
    right: 30; 
}

#sch_group_res #found #ug {
    text-align: left;
    position: relative;
    top: 30;
    left: 5;
    font-weight: bold;
}

#sch_group_res #found #uc {
    text-align: left;
    position: relative;
    top: 30;
    left: 5;
    font-weight: bold;
}

#ug {
    color: #494;
    font-weight: bold;
    font-style: italic;
}

#uc {
    color: #5ad;
    font-weight: bold;
    font-style: italic;
}

#sch_group_res #found h5 {
    display: block;
    position: relative;
    top: 0;
    left: 35; 
}

#found #pagination {
    font-weight: bold;
    position: relative;
    top: 50;
    left: 100;
}

#sch_group_res #found p {
    display: block;
    position: relative;
    top: 20;
    left: 100; 
}

#sch_group_res #found #back {
    width: 120;
    position: relative;
    top: 80;
    left: 50;  
}

#sch_group_res #nfnd #back {
    width: 120;
    position: relative;
    top: 50;
    left: 100;  
}

#sch_group_res #found p label {
    position: relative;
    top: 35;
    left: 50; 
    line-height: 1.2;
}

#sch_group_res #found p a {
    text-align: center;
    display: block;
    position: relative;
    bottom: 0;
    right: 100;
    width: 120;    
}

#sch_group_res h5 {
    text-align: left;
    position: relative;
    top: 10;
    left: 10;
}

#sch_group_res #nfnd {
    position: relative;
    top: 30;
    right: 80;
    font-weight: bold;
}

#gr_snd_req {
    text-align: center;
    position: relative;
    top: 40;
    left: 0;
    font-weight: bold;
}

#gr_snd_req h5{
    line-height: 1.2;
    font-weight: bold;
    position: relative;
    top: 20;
    left: 0;
}

#gr_snd_req form{
    line-height: 1.2;
    font-weight: bold;
    position: relative;
    top: 20;
    right: 40;
}

#reqs_send {
    text-align: center;
    position: relative;
    top: 20;
    right: 60;
}

#reqs_send h3 {
    position: relative;
    top: 0;
    left: 40;  
}

#reqs_send p {
    position: relative;
    top: 20;
    left: 30;
}

#reqs_send h5 {
    position: relative;
    top: 20;
    left: 40;
}

#reqs_send input {
    position: relative;
    top: 40;
    right: 0;
    width: 120;
}

#delreq {
    text-align: center;
    position: relative;
    top: 40;
    right: 60;
}

#delreq h3 {
    position: relative;
    top: 0;
    left: 50;
}

#delreq h5 {
    position: relative;
    top: 0;
    left: 50;
}

#igl {
    text-align: center;
    position: relative;
    top: 40;
    right: 60;
}

#igl h3 {
    position: relative;
    top: 0;
    left: 45;   
}

#igl h5 {
    position: relative;
    top: 30;
    left: 20;   
}


#igl #igls h5 {
    position: relative;
    top: 40;
    right: 60;   
}

#igl input {
    width: 120;
        position: relative;
    top: 50;
    right: 20; 
}

#igl #inv {
    position: relative;
    top: 10;
    right: 50;     
}

#inv a {
    position: relative;
    top: 0;
    left: 320;
}

#igl #inv label {
    font-weight: bold;
        position: relative;
    top: 0;
    left: 0;
}

#inv label {
    font-weight: bold;
}

#inv #delete {
        position: relative;
    bottom: 50;
    left: 0;
}

#iml {
    text-align: center;
    position: relative;
    top: 40;
    right: 60;
}

#iml h3 {
    position: relative;
    top: 0;
    left: 45;   
}

#iml h5 {
    position: relative;
    top: 30;
    left: 20;   
}


#iml #imls h5 {
    position: relative;
    top: 40;
    right: 60;   
}

#iml input {
    width: 120;
        position: relative;
    top: 50;
    right: 20; 
}

#iml #imls {
    position: relative;
    top: 10;
    right: 50;     
}

#imls a {
    position: relative;
    top: 0;
    left: 320;
}

#imls label {
    font-weight: bold;
}

#invite_group {
    text-align: center;
    position: relative;
    top: 40;
    right: 100;
}

#invite_group h3 {
    text-align: center;
    position: relative;
    top: 0;
    left: 30;  
}

#invite_group h5 {
    text-align: center;
    position: relative;
    top: 0;
    left: 30;  
}

#invite_group #filt {
    position: relative;
    top: 15;
    left: 30;  
}

#invite_group #filt label {
    position: relative;
    top: 20;
    left: 20;  
}

#invite_group #filt input[type=submit] {
    position: relative;
    top: 40;
    left: 30;  
}

#invite_group #sel {
    position: relative;
    top: 60;
    right: 20;  
}

ul {
    list-style-type: none;
}

#invite_group #back {
    text-align: center;
    position: relative;
    top: 100;
    right: 30;
}

#invite_group p {
    position: relative;
    top: 15;
    left: 80;
}

#igl h5 {
    font-weight: bold; 
}

#igl label {
    position: relative;
    top: 60;
    left: 0;
}

#igl #inv {
    position: relative;
    top: 30;
    right: 70;
}

#igl #inv a {
    width: 160;
    position: relative;
    left: 50;
}

#igl #back {        
position: relative;
    top: 80;
    left: 20;
}

#igl #send {
        position: relative;
    top: 60;
    right: 60;
}

#invite_group #sel input[type=checkbox]{
    position: relative;
    top: 10;  
}

#invite_group #sel input[type=submit] {
    width: 200;
    position: relative;
    top: 25;
    left: 70;
}

#gmb {
    text-align: center;
    position: relative;
    top: 40;
    right: 80;
}

#gmb h3 {
    position: relative;
    top: 0;
    left: 50;
}

#gmb #mbs {
    position: relative;
    top: 20;
    right: 230;
    font-weight: bold;
    display: block;
    line-height: 1.2;
}

#gmb #pagination {
    font-weight: bold;
    text-align: center;
        position: relative;
    top: 30;
    right: 40;
}

#mbs label {
    position: relative;
    top: 36;
    right: 40;
}

#mbs #crt {
    color: #345;
    position: relative;
    top: 30;
    right: 40;
}

#mbs #crt label {
    color: #345;
    position: relative;
    top: 0;
    right: 0;
}

#gmb #mbs .btn-info {
    display: block;
    text-align: center;
    position: relative;
    top: 0;
    left: 500;  
    width: 160;
}

#mbs #own {
    background: linear-gradient(rgb(130,200,200),rgb(210,240,240))
}

#mbs h5 {
    font-weight: bold;
    line-height: 1.2;
}

#gmb .btn-info {
    width: 240;
    position: relative;
    bottom: 350;
    left: 330; 
}

#gmb #filter {
    position: relative;
    bottom: 140;
    left: 280; 
}

#gmb #bck {
    position: relative;
    bottom: 140;
    left: 280; 
}

#grcmlikes {
    position: relative;
    top: 20;
    left: 200; 
}

#grcmlikes a {
    position: relative;
    top: 20;
    left: 80;  
}

#green2 {
    color: #3fd;
}

#grcmlikes input {
    position: relative;
    top: 50;
    left: 80;
width: 120;    
}

#ugroups {
    text-align: center;
    position: relative;
    top: 20;
    right: 40; 
}

#ugroups #cg a{
    background: linear-gradient(rgb(130,200,200),rgb(210,240,240))
}

#ugroups #grs {
        position: relative;
    top: 20;
    right: 70;
    font-weight: bold;
    display: block;
    line-height: 1.2;
}

#ugroups #grs label {
        position: relative;
    top: 30;
    right: 0;
    font-weight: bold;
}

#ugroups #grs .btn-info {
    display: block;
    text-align: center;
    position: relative;
    top: 0;
    left: 450;  
    width: 120;
}

#ugroups p {
    position: relative;
    top: 45;  
}

#ugroups a {
    width: 120;
    position: relative;
    top: 65; 
}

#fgroups {
    text-align: center;
    position: relative;
    top: 20;
    right: 80; 
}

#fgroups h3 {
    position: relative;
    top: 0;
    left: 50; 
}

#fgroups #cg a{
    background: linear-gradient(rgb(130,200,200),rgb(210,240,240))
}

#fgroups #grs {
        position: relative;
    top: 20;
    right: 30;
    font-weight: bold;
    display: block;
    line-height: 1.2;
}

#fgroups #grs label {
        position: relative;
    top: 30;
    right: 0;
    font-weight: bold;
}

#fgroups #grs .btn-info {
    display: block;
    text-align: center;
    position: relative;
    top: 0;
    left: 450;  
    width: 120;
}

#fgroups p {
    position: relative;
    top: 45;
        left: 50;
}

#fgroups a {
    width: 200;
    position: relative;
    top: 65; 
    left: 50;
}

#fgroups input {
    width: 120;
    position: relative;
    top: 95; 
    right: 150;  
}

#rnmgroup {
    text-align: center;
    position: relative;
    top: 20;
    right: 70; 
}

#rnmgroup form {
    position: relative;
    top: 20;
    right: 40; 
}

#rnmgroup form p {
    position: relative;
    top: 0;
    left: 20 
}

#rnmgroup form label {
    position: relative;
    top: 20;
    left: 20; 
}

#rnmgroup form input[type=submit] {
    position: relative;
    top: 40;
    right: 0; 
    width: 120;
}

#rnmgroup form input[type=button] {
    position: relative;
    top: 40;
    right: 50; 
    width: 120;
}

#lreq {
    text-align: center;
    position: relative;
    top: 30;
    right: 70; 
}

#lreq h3 {
    text-align: center;
    position: relative;
    top: 0;
    left: 70; 
}

#lreq h5 {
    text-align: center;
    position: relative;
    top: 10;
    left: 70; 
}

#lreq input {
    text-align: center;
    position: relative;
    top: 50;
    width: 120;
    left: 65; 
}

#delgr {
    text-align: center;
    position: relative;
    top: 30;
    right: 70; 
}

#delgr h3 {
    position: relative;
    top: 0;
    left: 50; 
}

#delgr h5 {
    position: relative;
    top: 0;
    left: 50; 
}

#delgr input {
    width: 120;
}

#greq {
    position: relative;
    top: 20;
    left: 0; 
}

#greq label{ font-weight: bold; }

#greq #prof {
    font-weight: bold;
        position: relative;
    top: 0;
    left: 0;
    color: #345
}

#greq a {
    position: relative;
    top: 0;
    left: 30; 
}

#req_show {
    text-align: center;
    position: relative;
    top: 30;
    right: 80; 
}

#req_show h3 {
    position: relative;
    top: 0;
    left: 50; 
}

#req_show form {
    text-align: center;
    position: relative;
    top: 20;
    left: 20; 
}

#req_show form h5 {
    position: relative;
    top: 0;
    left: 50;
    font-weight: bold;
}

#req_show #bck {
    position: relative;
    top: 50;
    left: 70;
    font-weight: bold;
}

#leave {
    text-align: center;
    position: relative;
    top: 30;
    right: 80; 
}

#leave h3 {
    position: relative;
    top: 0;
    left: 50; 
}

#leave h5 {
    position: relative;
    top: 0;
    left: 50; 
    font-weight: bold;
}

#delmb {
    text-align: center;
    position: relative;
    top: 30;
    right: 80; 
}

#delmb h3 {
    position: relative;
    top: 0;
    left: 50; 
}

#delmb h5 {
    position: relative;
    top: 0;
    left: 50; 
    font-weight: bold;
}

#report  {
    position: relative;
    top: 40;
    left: 20; 
}

#report h3 {
    text-align: center;
        position: relative;
    top: 0;
    left: 180; 
}

#report h5 {
    line-height: 1.2;
    font-weight: bold;
}

#report input {
    width: 120;
        position: relative;
    top: 40;
    left: 260; 
}

#inv_show {
    position: relative;
    top: 40;
    left: 20; 
}

#inv_show #inv {
    text-align: center;
    position: relative;
    top: 20;
    right: 50; 
}

#inv_show #inv form {
    position: relative;
    top: 20;
    right: 50; 
}

#inv_show #inv h5 {
    position: relative;
    top: 0;
    left: 50;
font-weight: bold;    
}

#inv_show #bck {
    position: relative;
    top: 40;
    left: 0;
}

#inv_delete {
    position: relative;
    top: 40;
    left: 20;
}

#inv_delete h3 {
    text-align: center;
        position: relative;
    top: 0;
    right: 40; 
}

#inv_delete h5 {
    line-height: 1.2;
    font-weight: bold;
        position: relative;
    top: 20;
    left: 200; 
}

#inv_delete input {
    width: 120;
        position: relative;
    top: 40;
    left: 220; 
}