ul {
    list-style-type: none;
}

body {
    display: block;
    margin: 20 300;
    background: #baf;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #024;
}

.btn-info:hover{
    border-color: #111;
    border-color: #eee;
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));
}

.btn-info:active{
    border-color: #111;
    border-color: #eee;
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));
}

div {
    line-height: 0.7;
}

#main_menu {
    position: relative;
    top: 0;
    left: 0;   
}

#main_menu h3 {
    text-align: center;
    position: relative;
    bottom: 50;
    left: 150; 
}

#friends_menu {
    position: relative;
    font-size: 16px;
    top: 40;
    right: 0;  
}

#friends_menu #buttonery {
    position: relative;
    font-size: 16px;
    top: 10;
    left: 210;   
}

#friends_menu #buttonery .btn-info {
    position: relative;
    font-size: 16px;
    top: 40;
    right: 0;   
    width: 300;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#search_user_form {
    position: relative;
    top: 30;
    right: 20;  
}

#search_user_form  input[type=submit]{
    position: relative;
    top: 60;
    left: 240;  
}

#search_user_form  input[type=button]{
    position: relative;
    top: 60;
    left: 240;  
}

#tx {
    position: relative;
    font-size: 14px;
    top: 20;
    left: 200;     
}

#tx p {
    position: relative;
    font-size: 14px;
    top: 20;
    right: 230;     
}

#cboxes {
    position: relative;
    font-size: 16px;
    top: 40;
    left: 100;  
}

#cboxes p {
    position: relative;
    font-size: 14px;
    bottom: 20;
    right: 100; 
}

#cboxes input[type=checkbox] {
    height: 1.2em;
    width: 1.2em;
    position: relative;
    top: 0;
    left: 160;  
    font-size: 11px;
}

#cboxes label {
    position: relative;
    bottom: 3;
    left: 200;  
}

#main_menu #fmnotif {
    position: absolute;
    top: 55;
    left: 540; 
}

#fmnotif #notif_clean {
    position: relative;
    bottom: 0;
    left: 75; 
}

#fmnotif p {
    border-style: inset;
    border-width: 2px;
    border-color: #678 #9ab #cde #9ab;
    min-height: 160;
    overflow: visible;
    width: 360;
    position: relative;
    top: 30;
    right: 0; 
}

#fmnotif p input {
    display: block;
    border-style: inset;
    border-width: 2px;
    position: relative;
    top: 10;
    left: 75;
}

input {
    border-color: #8ac #cdf #8ac #cdf; 
    font-weight: bold;
    position: relative;
    top: 20;
    left: 50;
    width: 200;
    height: 30;
}

input[type=submit] {
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));   
}

input[type=button] {
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));   
}

#avatar {
    position: relative;
    top: 150;
    right: 60;
}

#search_user_res {
    position: relative;
    top: 30;
    right: 20;
    color: #024;
}

#search_user_res  #pphoto {
    position: relative;
    top: 30;
    right: 0;
    color: #024;
    width: 100;
    
}


#search_user_res p {
    position: relative;
    top: 28;
    right: 35;
    color: #024;
}

#search_user_res  h5 {
    position: absolute;
    top: 30;
    right: 60;
}

#search_user_res  input[type=button]{
    position: relative;
    top: 35;
    left: 285;
    width: 120;
}
#search_user_res #gr {
    position: relative;
    top: 40;
    right: 20;
}

#search_user_res a {
    color: #345;
    position: relative;
    top: 0;
    left: 280;
    display: block;
    width: 200;
}

#search_user_res #fnd {
    position: relative;
    top: 30;
    right: 30;
}

#search_user_res #pagination {
    font-weight: bold;
    position: relative;
    top: 21;
    left: 332;
}

#search_user_res #friends a {
    color: #fde;
    font-weight: bold;
    border-style: dashed;
    border-color: black;
    border-width: 1px;
    background: #494;
}

#own_friends #pagination {
    font-weight: bold;
    position: relative;
    top: 21;
    left: 332;
}

#own_friends #alone {
    font-weight: bold;
    position: relative;
    top: 21;
    right: 30;
}

#alone p {
    position: relative;
    top: 10;
    left: 0;
}

#alone h5 {
    position: relative;
    top: 10;
    left: 0;
    font-weight: bold;
}

#alone a {
    position: relative;
    top: 10;
    left: 290;
    font-weight: bold;
}

#green {
    color: #494;
}

#avatar img {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    width: 220px;
    height: auto;
    position: relative;
    bottom: 100;
    right: 30;
}

#main_menu #main_buttonery {
    position: absolute;
    top: 82;
    left: 250;
}

#main_buttonery .btn-info  {
    width: 200;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}


#main_buttonery #bye {
   background: linear-gradient(rgb(180,120,140), rgb(240,190,224));  
}

select {
    border-style: inset;
    border-width: 3px;
    border-color: #8ac #cdf #8ac #cdf; 
    position: relative;
    top: 0;
    left: 100;
    width: 200;
    height: 30;
}

.btn-info {
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));  
    color: #024;
    font-weight: bold;
    border-color: #458
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-weight: 300;
}

h1 {
	font-size: 30px;
    width: 300;
    position: relative;
    bottom: 20;
    right: 50;
}

h2 {
    width: 400px;
    position: relative;
    bottom: 20;
    right: 100;
}

h3 {
    font-weight: bold;
    width: 400px;
    text-align: center;
    position: relative;
    top: 0;
    left: 150;
	font-weight: 400;
}

h4 {
	color: #95a5a6;
	font-weight: 400;
	font-size: 20px;
}

h5 {
    position: relative;
    top: 20;
    left: 0;
}

/* Paragraph & Typographic */
p {
    position: relative;
    top: 20;
    font-weight: bold;
    text-align: center;
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 16px;
}

#logotype {
    position: relative;
    top: 0;
    left: 257;
    width: 200px;
}

#user_view { 
    position: relative;
    top: 0;
    right: 250;
}

#user_view h3 {
    text-align: center;
    position: relative;
    top: 60;
    left: 140;
}

#user_view img {
    position: relative;
    top: 80;
    left: 220;
}

#user_view #buttonery {
    position: relative;
    top: 0;
    left: 750;
}

#user_view #another {
    position: relative;
    top: 0;
    left: 750;
}

#user_view .btn-info {
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#user_view #buttonery .btn-info {
    width: 200;
    position: relative;
    bottom: 120;
    right: 70;
}

#user_view #bck {
    position: relative;
    bottom: 100;
    left: 680; 
        width: 200;
}

#user_view #buttonery label {
    position: relative;
    bottom: 140;
    right: 600;
}

#user_view input[type=button] {
    position: fixed;
    top: 540;
    left: 500;
}

#user_view #another label {
    line-height: 1.2;
    font-size: 14px;
    position: relative;
    bottom: 140;
    right: 180;
    color: #804;
}

#user_view #another .btn-info {
    width: 200;
    position: relative;
    bottom: 90;
    right: 70;
}

#user_view #photofriend img {
    position: relative;
    top: 150;
    left: 220;
    width: 250;
    height: auto;
}

#user_view #namefriend h3 {
    text-align: center;
    position: relative;
    top: 60;
    right: 180;
}

.btn-info:hover{
    border-color: #111;
    border-color: #eee;
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));
}

.btn-info:active{
    border-color: #111;
    border-color: #eee;
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));
}

#invite_user {
    position: relative;
    top: 50;
    right: 20;
}

#invite_user h3 {
    position: relative;
    top: 0;
    left: 180;
}

#invite_user input {
    position: relative;
    top: 50;
    left: 280;
}

#freq {
    position: relative;
    top: 60;
    left: 0;
}

#freq form {
    position: relative;
    top: 0;
    right: 30;  
}

#freq input[type=submit]{
    position: relative;
    top: 50;
    left: 260;  
    width: 120;
}

#freq input[type=button]{
    position: relative;
    top: 50;
    left: 300;
    width: 120;    
}

#freq h5 {
    font-weight: bold;
}

#own_friends {
    position: relative;
    top: 20;
    left: 0;  
}

#own_friends a {
    width: 160;
}

#own_friends #fs {
    position: relative;
    top: 40;
    left: 220;
}

#own_friends #fs a {
    color: #024;
    font-weight: bold;
    text-align: center;
    width: 120;
}

#ffriends #fs #only {
    color: #024;
    font-weight: bold;
    text-align: center;
    width: 240;
        position: relative;
    top: 0;
    right: 200;
}

#own_friends a #erase2 {
    position: relative;
    top: 20;
    left: 0;
}

#own_friends #fs label {
    display: block;
    position: relative;
    bottom: 20;
    left: 180;  
}

#own_friends input[type=button]{
    position: relative;
    top: 20;
    left: 288;  
    width: 120;
}

#own_friends #sch {  
    width: 120;
        position: relative;
    top: 50;
    left: 280;  
}

#own_friends #back {
    position: relative;
    top: 50;
    left: 280;  
    width: 120;
}

#ffriends {
    position: relative;
    top: 20;
    left: 0;  
}

#ffriends a {
    width: 160;
}

#ffriends p {
    position: relative;
    top: 40;
    left: 0;
}

#ffriends #fs {
    position: relative;
    top: 40;
    left: 220;
}

#ffriends #fs a {
    color: #024;
    font-weight: bold;
    text-align: center;
    width: 120;
}

#ffriends a #erase2 {
    position: relative;
    top: 20;
    left: 0;
}

#ffriends #fs label {
    display: block;
    position: relative;
    bottom: 20;
    left: 180;  
}

#ffriends input[type=button]{
    position: relative;
    top: 20;
    left: 288;  
    width: 120;
}

#ffriends #sch {  
    width: 200;
    position: relative;
    top: 50;
    left: 180;  
}

#ffriends #isf a {
    font-weight: bold;
    border-style: dashed;
    border-color: black;
    border-width: 1px;
    color: #fef;
    background: #494; 
}

#ffriends #back {
    position: relative;
    top: 50;
    left: 200;  
    width: 120;
}

#erase2 {
background: linear-gradient(rgb(180,120,140), rgb(240,190,224)); 
}

#ffriends #block {
    position: relative;
    top: 0;
    left: 0;  
   background: linear-gradient(rgb(180,120,140), rgb(240,190,224)); 
}

#ffriends #pagination {
    font-weight: bold;
    position: relative;
    top: 21;
    left: 332;
}

#invs #pagination {
    font-weight: bold;
    position: relative;
    top: 45;
    left: 0;
}

#delinv {
    position: relative;
    top: 20;
    right: 40;  
}

#delinv h3 {
    text-align: center;
    position: relative;
    top: 0;
    left: 180;      
}

#delinv input {
    text-align: center;
    position: relative;
    top: 30;
    left: 180;      
}

#deletion {
    position: relative;
    top: 20;
    left: 0; 
}

#deletion form {
    position: relative;
    top: 10;
    right: 30; 
}

#deletion form input[type=submit] {
    position: relative;
    top: 50;
    left: 260; 
    width: 120;
}

#detail {
    position: relative;
    top: 20;
    right: 0; 
}

#detail img {
    position: relative;
    top: 35;
    left: 10; 
}

#detail #info {
    line-height: 1.2;
    display: block;
    text-align: center;
    border-color: #246 #468 #68a #ace; 
    border-style: inset;
    width: 500;
    border-width: 2px;
    position: relative;
    bottom: 215;
    left: 280; 
}

#detail #info label {
    border-bottom-style: inset;
    border-color: #024; 
    position: relative;
    top: 0;
    right: 170; 
    font-weight: bold;
}

#detail #info a {
    color: #024;
}

#detail input[type=button]{
    width: 120;
    position: absolute;
    top: 280;
    left: 450;
}

#blocked {
    position: relative;
    top: 20;
    right: 0;  
       line-height: 1.2;
}

#blocked label {
    text-align: center;
    position: relative;
    top: 20;
    left: 180;  
}

#blocked #fs {
    text-align: center;
    position: relative;
    top: 20;
    right: 30;  
}

#blocked #fs a{
    color: #024;
}

#blocked #fs #bc {
    position: relative;
    top: 20;
    right: 130;  
}

#blocked .btn-info {
    text-align: center;
    position: relative;
    top: 70;
    right: 50;  
}

#blocked #fs .btn-info {
    text-align: center;
    position: relative;
    top: 20;
    right: 0;  
}

#block {
    position: relative;
    top: 80;
    left: 0;  
}

#block input {
    position: relative;
    top: 20;
    left: 270;
    width: 150;
}

#unblock {
    position: relative;
    top: 80;
    left: 0; 
}

#unblock input {
    width: 150;
    position: relative;
    top: 20;
    left: 200;
}

#invs {
    position: relative;
    top: 20;
    right: 50;
}

#invs h5 {
   font-weight: bold;
   position: relative;
   top: 35;
   right: 5;
}

#invs #invsd {
    text-align: center;
   position: relative;
   bottom: 35;
   right: 10;
}

#invs #invsd a {
   position: relative;
   top: 20;
   right: 5;
   color: #024;
   font-weight: bold;
}

#invsd #recv {
    text-align: center;
   position: relative;
   top: 20;
   right: 92;
}

#invsd #recv h5 {
   font-weight: bold;
   position: relative;
   top: 52;
   right: 25;
}

#invsd h5 label {
color: #666;
}

#invs #back {
   font-weight: bold;
   position: relative;
   top: 40;
   left: 320;
}

#invsd #recv a {
   position: relative;
   bottom: 150;
   left: 280;  
}

#invsd #sent {
    text-align: center;
   position: relative;
   top: 20;
   right: 25;
}

#invsd #sent h5 {
   font-weight: bold;
   position: relative;
   top: 55;
   right: 5;
}

#invsd #sent a {
   position: relative;
   bottom: 120;
   left: 300;  
}

#invs h3 {
   text-align: center;
   position: relative;
   top: 0;
   left: 180;
}

#invs input {
    width: 120;
   position: relative;
   top: 80;
   left: 320;
}

#settings {
    text-align: center;
    position: relative;
    top: 40;
    right: 0;
    width: 500px;
    font-weight: bold;
    
}

#settings #buttons {
display: block;
    position: relative;
    top: 20;
    left: 100;
}

#buttons a {
    width: 280;
}

#editprof {
    text-align: center;
    position: relative;
    top: 40;
    right: 0;
    width: 500px;
    font-weight: bold;
}

#editprof form {
    display: block;
    position: relative;
    top: 10;
    left: 50;
}

#editprof form label {
    position: relative;
    top: 15;
    left: 0;
}

#editprof form input[type=submit] {
    position: relative;
    top: 60;
    left: 0;
}

#editprof form #id_profile_photo {
    position: relative;
    top: 30;
    left: 50;
}
#editprof label[for=id_profile_photo] {
    position: relative;
    top: 30;
    left: 0;
}

#editprof input[type=button] {
    position: relative;
    top: 60;
    left: 50;
}

#pwdmod {
    text-align: center;
    position: relative;
    top: 40;
    right: 0;
    width: 500px;
    font-weight: bold;
}

#pwdmod form {
    display: block;
    position: relative;
    top: 10;
    left: 50;
}

#pwdmod form label {
    position: relative;
    top: 15;
    left: 0;
}

#pwdmod form input[type=submit] {
    position: relative;
    top: 50;
    left: 50;
}

#pwdmod input[type=button] {
    position: relative;
    top: 50;
    left: 100;
}

#sign_down {
    text-align: center;
    position: relative;
    top: 40;
    right: 0;
    width: 500px;
    font-weight: bold;
}

#sign_down body {
    background: #333;
}

#sign_down form {
    display: block;
    position: relative;
    top: 10;
    left: 50;
}

#sign_down h5 {
    text-align: center;
    font-size: 20px;
    position: relative;
    top: 15;
    left: 60;
    width: 600;
}

#sign_down #out {
    font-weight: bold;
    color: red;
}

#sign_down a {
    width: 220;
    position: relative;
    top: 30;
    left: 90;
}

#sign_down #done {
    color: red;
    font-weight: bold;
    font-style: italic;
}

#sign_down #undone {
    color: #494;
    font-weight: bold;
    font-style: italic;
}

#sign_down input[type=submit] {
    width: 150;
        position: relative;
    top: 30;
    left: 50;
}

#sign_down input[type=button] {
    position: relative;
    top: 40;
    left: 90;
    width: 150;
}

#fmnotif #delnot {
    width: 40;
    position: relative;
    left: 150;
    background: linear-gradient(rgb(200,100,120), rgb(175,92,105));
    border-color: #fab #c8a #a56 #b57
}

#report  {
    position: relative;
    top: 40;
    left: 20; 
}

#report h3 {
    text-align: center;
        position: relative;
    top: 0;
    left: 180; 
}

#report h5 {
    line-height: 1.2;
    font-weight: bold;
}

#report input {
    width: 120;
        position: relative;
    top: 40;
    left: 260; 
}