body {
    display: block;
    margin: 20 300;
    background: #baf;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #024;
}

ul {
    list-style-type: none;
}

#view #before {
    color: #668;
    position: relative;
    top: 0;
    right: 50;
    line-height: 0.9;
}

#before h5 {
    font-size: 16px;
    font-weight: bold;
}

#before #seebefore {
    width: 50;
    background: linear-gradient(rgb(130,130,140), rgb(240,240,254));  
}

.btn-info {
    font-weight: bold;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));  
    color: #024;
    font-weight: bold;
    border-color: #458
}

.btn-info:hover{
    border-color: #111;
    border-color: #eee;
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));
}

.btn-info:active{
    border-color: #111;
    border-color: #eee;
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));
}

a {
    width: 240;
}

input[type=submit] {
    width: 120;
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));
}

input[type=button] {
    width: 120;
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));
}

img {
    height: 5%;
    width: 5%;
}

#box {
    text-align: center;
    position: relative;
    top: 40;
    right: 50;
}

#box #msg {
    position: relative;
    top: 20;
    right: 0;
}

#msg h5 {
    font-weight: bold;
}

#box #bn {
        position: relative;
    top: 40;
    right: 0;
}

#bn a {
    width: 200;
}

#msg a {
    width: 200;
}

#report  {
    position: relative;
    top: 40;
    left: 20; 
}

#report h3 {
    text-align: center;
        position: relative;
    top: 0;
    left: 0; 
}

#report h5 {
    text-align: center;
        top: 40;
    line-height: 1.2;
    font-weight: bold;
}

#report input {
    width: 120;
        position: relative;
    top: 40;
    left: 260; 
    font-weight: bold;
}

#write {
    position: relative;
    top: 20;
    right: 0;
}

#write h3 {
    position: relative;
    top: 0;
    left: 180;
}

#write form {
    position: relative;
    bottom: 160;
    left: 180;
}

#write form label {
    text-align: center;
    position: relative;
    bottom: 0;
    left: 70;
}

#write form textarea {
    position: relative;
    top: 240;
    right: 260;
    width: 500;
    height: 200;
}

#write form input {
    position: relative;
    top: 260;
    right: 0;
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));
}

#write form input[type=submit] {
    width: 160;
    position: relative;
    top: 260;
    left: 65;
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));
    font-weight: bold; 
}


#write form input[type=reset] {
    width: 160;
    position: relative;
    top: 260;
    left: 65;
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));
    font-weight: bold; 
}

#write input[type=button] {
    width: 160;
    position: relative;
    top: 140;
    left: 245;
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));
    font-weight: bold;
}

#view {
    text-align: center;
    position: relative;
    top: 40;
    right: 50;
}

#view #bn {
        position: relative;
    top: 40;
    right: 0;
}

#view a {
    width: 200;
}

#view input {
        position: relative;
    top: 100;
    right: 0;  
}

#delete {
    text-align: center;
    position: relative;
    top: 40;
    right: 50;
}

#delete form {
        position: relative;
    top: 5;
    right: 0;  
}

#delete form h5 {
    font-weight: bold;
}

#delete form input {
        position: relative;
    top: 20;
    right: 0; 
    font-weight: bold;
}