
ul {
    list-style-type: none;
}

body {
    display: block;
    margin: 35 350;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #024;
    background: #baf;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

.btn-info:hover{
    border-color: #111;
    border-color: #eee;
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));
}

.btn-info:active{
    border-color: #111;
    border-color: #eee
}

#ccc {
    position: relative;
    top: 0;
    right: 10;  
}

#ccc #RCVLG {
    position: relative;
    top: 75;
    right: 200; 
}

#BCKLG {
    position: relative;
    top: 50;
    left: 240; 
}

input {
    border-color: #8ac #cdf #8ac #cdf; 
    font-weight: bold;
    position: relative;
    top: 20;
    left: 50;
    width: 200;
    height: 30;
}

input[type=submit] {
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));   
}

#auth_error {
    position: relative;
    top: 100;
    right: 0;   
}

#auth_error h5 {
    position: relative;
    top: 20;
    right: 0;   
    font-weight: bold;
}

#auth_error input {
    position: relative;
    top: 50;
    right: 0;   
}

#welcome_form {
    position: relative;
    bottom: 0;
    left: 150;
}

#BCKERR {
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));  
    position: relative;
    bottom: 0;
    left: 200;
}

#xx {
    color: #494
}

#register_form {
    position: relative;
    top: 0;
    left: 70;
}

#register_form label {
    position: relative;
    top: 25;
    left: 30;
}

#id_gender {
    font-weight: bold;
    position: relative;
    top: 20;
    left: 50;
}

#SBMRG {
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));
    width: 120;
    position: relative;
    top: 50;
    left: 80;
}

#RSTRG {
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));
    width: 180;
    position: relative;
    top: 20;
    left: 280;
}

#BCKRG {
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));
    display: block;
    position: relative;
    top: 30;
    left: 250;
    width: 120;
    height: 30;
    font-size: 16px;
}

select {
    border-style: inset;
    border-width: 3px;
    border-color: #8ac #cdf #8ac #cdf; 
    position: relative;
    top: 0;
    left: 100;
    width: 200;
    height: 30;
}

.btn-info {
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));  
    color: #024;
    font-weight: bold;
    border-color: #458
}

#about {
    width: 600px;
    font-size: 14px;
    text-align: center;
    position: relative;
    top: 20;
    left: 0;
}

#creds {
    width: 600px;
    font-size: 14px;
    text-align: center;
    position: relative;
    top: 20;
    left: 0;
    color: #611;
}

#BCKABT {
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));
    width: 120;
    height: 30;
    font-size: 16px;
    position: relative;
    top: 0;
    left: 234;
}

#BCKLG {
    text-align: center;
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));
    width: 120;
    height: 30;
    font-size: 16px;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-weight: 300;
}

.form-signin-heading {
    font-size: 24px;
}

.form-signin {
    font-size: 12px;
    position: relative;
    bottom: 10;
    left: 150;
}

.form-signin #iemail {
    position: relative;
    top: 0;
    left: 53;  
    width: 160;
}

.form-signin label {
    position: relative;
    top: 0;
    right: 20;   
}

.form-signin #ipwd {
    position: relative;
    top: 0;
    left: 22;  
    width: 160;
}

.form-signin #SBMLG {
    width: 120;
    position: relative;
    top: 20;
    left: 42;  
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));
}

.form-signin #RSTLG {
    width: 120;
    position: relative;
    top: 20;
    left: 42;
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));
}

#RCVLG {
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));
    position: relative;
    top: 70;
    right: 195;  
}

h1 {
	font-size: 30px;
    width: 300;
    position: relative;
    bottom: 20;
    left: 150;
}

h2 {
    width: 400px;
    position: relative;
    bottom: 10;
    left: 100;
}

h3 {
    font-weight: bold;
    width: 400px;
    text-align: center;
    position: relative;
    top: 0;
    left: 98;
	font-weight: 400;
}

h4 {
	font-weight: 400;
    width: 400px;
	font-size: 18px;
    position: relative;
    bottom: 10;
    left: 96;
}

h5 {
	font-weight: 400;
    width: 400px;
	font-size: 16px;
    position: relative;
    bottom: 10;
    left: 96;
}

#recvform {
    position: relative;
    top: 20;
    left: 140;
}

#recvform #iemail {
    width: 150;
    position: relative;
    top: 0;
    left: 25;
}

#recvform #SBMRCV {
    width: 220;
    position: relative;
    top: 20;
    left: 42;
}

#BCKRCV {
    position: relative;
    top: 40;
    left: 164;
}

#BCKRCV:hover{
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));
}

/* Paragraph & Typographic */
p {
    position: relative;
    top: 20;
    font-weight: bold;
    text-align: center;
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 16px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #3498db;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar-default {
	background-color: #3498db;
	border-color: transparent;
}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}

/* Helpers */

.mt {
	margin-top: 40px;
	margin-bottom: 40px;
}

.form-control {
	height: 42px;
	font-size: 18px;
	width: 280px;
}

i {
	margin: 8px;
	color: #3498db; 
}


/* HeaderWrap */
#headerwrap {
	/* background: url(../img/bg01.jpg) no-repeat center top; */
	background-color: #3498db;
	margin-top: -20px;
	padding-top:200px;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	margin-top: 60px;
	margin-bottom: 15px;
	color: white;
	font-size: 45px;
	font-weight: 300;
	letter-spacing: 1px;
}

#logotype {
    position: relative;
    top: 0;
    left: 200;
    width: 200px;
}

#error {
    position: relative;
    top: 100;
    right: 80;
}

#error h1 {
    width: 500;
}

#error h3 {
    position: relative;
    bottom: 0;
    left: 190;
}

#error h5 {
    position: relative;
    top: 20;
    left: 190;  
    font-weight: bold;
}

#error input {
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));
    position: relative;
    top: 50;
    top: 50;
    width: 160;
    left: 310;
}