body {
    display: block;
    margin: 20 300;
    background: #baf;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #024;
}

input[type=submit] {
    width: 120;
}

input[type=button] {
    width: 120;
}

ul{
     list-style:none;
}

div {
    line-height: 1.2;
}

input {
    border-color: #8ac #cdf #8ac #cdf; 
    font-weight: bold;
    position: relative;
    top: 20;
    left: 50;
    width: 200;
    height: 30; 
}

input[type=submit]{
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254)); 
}

input[type=button]{
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254)); 
}

.btn-info {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));  
    color: #024;
    font-weight: bold;
    border-color: #458
}

.btn-info:hover{
    border-color: #111;
    border-color: #eee;
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));
}

.btn-info:active{
    border-color: #111;
    border-color: #eee;
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));
}

#userphotos_menu {
    text-align: center;
    position: relative;
    font-size: 16px;
    top: 40;
    right: 0;  
}

#userphotos_menu #buttonery {
    position: relative;
    font-size: 16px;
    top: 10;
    left: 0;   
}

#userphotos_menu #buttonery .btn-info {
    position: relative;
    font-size: 16px;
    top: 40;
    right: 0;   
    width: 240;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#upload {
    text-align: center;
    position: relative;
    top: 40;
    right: 80;
    font-weight: bold;
}

#upload form {
    position: relative;
    top: 30;
    right: 10;
}

#upload form  #id_title {
    position: relative;
    top: 0;
    right: 50;
}

#upload form p #id_image  {
    text-align: center;
    width: 400;
        position: relative;
    top: 10;
    left: 200;
}

#upload form input[type=submit] {
    position: relative;
    top: 20;
    left: 0;
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));
}

#upload a {
    position: relative;
    top: 60;
    right: 10;
    width: 160;
}

#pbview {
    text-align: center;
    position: relative;
    top: 40;
    right: 20;
    font-weight: bold;
}

#pbview h5 {
    font-weight: bold;    
}

#pbview #filter {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));  
    color: #024;
    font-weight: bold;
    border: solid;
    border-width: 1px;
    border-color: #458;
    width: 160;
    position: relative;
    top: 30;
    left: 310;
}


#pbview a {
	width: 200;
    display: block;
    position: relative;
    top: 0;
    left: 290;
	border: none;
	background: none;
box-shadow: none;
}

#pbview img {
    position: relative;
    top: 0;
    right: 7;
    width: 120px;
    height: auto;
    border-style: inset;
    border-width: 2px;
    border-color: #024 #048 #26a #68a;
}

#pbview #back {
    display: block;
background: linear-gradient(rgb(130,120,200), rgb(200,190,254));
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    width: 160;
    position: relative;
    top: 30;
    left: 310;
        border: solid;
        border-width: 1px;
        border-color: #458; 
}

#gpbview {
    text-align: center;
    position: relative;
    top: 40;
    right: 80;
    font-weight: bold;
}

#gpbview h5 {
    font-weight: bold;    
}

#gpbview a {
	width: 200;
    display: block;
    position: relative;
    top: 0;
    left: 280;
}

#gpbview img {
    position: relative;
    top: 0;
    right: 7;
    width: 120px;
    height: auto;
    border-style: inset;
    border-width: 2px;
    border-color: #024 #048 #26a #68a;
}

#gpbview #back {
    display: block;
background: linear-gradient(rgb(130,120,200), rgb(200,190,254));
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    width: 120;
    position: relative;
    top: 30;
    left: 323;
        border: solid;
        border-width: 1px;
        border-color: #458; 
}

#gpbview #filter {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));  
    color: #024;
    font-weight: bold;
    border: solid;
    border-width: 1px;
    border-color: #458;
    width: 200;
    position: relative;
    top: 30;
    left: 280;
}

#pview {
    text-align: center;
    position: relative;
    top: 40;
    right: 200;
    width: 500px;
    font-weight: bold;
}

#gpbview #gp {
    width: 160;
        position: relative;
    top: 0;
    left: 300;
}

#pview img {
    position: relative;
    top: 20;
    right: 0;
    width: 360px;
    height: auto;
    border-style: inset;
    border-width: 2px;
    border-color: #024 #048 #26a #68a;
}

#pview #photocomm {
    position: absolute;
    bottom: 550;
    left: 400; 
    width: 500;
}

#comm label {
    line-height: 1.2;
    position: relative;
    top: 0;
    right: 0; 
}

#comm #likecom {
    position: relative;
    top: 10;
    right: 0; 
}

#pview #owner {
    position: absolute;
    top: 20;
    left: 60;
}

#pview #labcom {
    font-size: 20px;
}

#owner a {
    color: #024;
    font-weight: bold;
}

#pview #buttedit {
    width: 300px;
    position: absolute;
    top: 750;
    left: 100;
}

#pview #rep {
    width: 120;
    position: absolute;
    top: 700;
    left: 190;
}

#buttedit a {
    width: 240;
}

#pview #buttbasic  {
    width: 300px;
    position: absolute;
    top: 480;
    left: 100;
}

#buttbasic h5 {
    font-weight: bold;
        position: relative;
    top: 20;
    left: 0;
}

#renameph {
    text-align: center;
    position: relative;
    top: 40;
    right: 60;
    font-weight: bold;
}

#renameph form {
    position: relative;
    top: 10;
    right: 30;
}

#renameph form label {
    position: relative;
    top: 17;
    right: 0; 
}

#renameph form input[type=submit]{
    position: relative;
    top: 30;
    left: 30; 
}

#renameph a {
    position: relative;
    top: 40;
    right: 0;  
}

#delph {
    text-align: center;
    position: relative;
    top: 40;
    right: 50;
    font-weight: bold;
}

#delph form {
    position: relative;
    top: 10;
    right: 45;
}

#delph form h5 {
    position: relative;
    top: 0;
    left: 50;
}

#shph {
    text-align: center;
    position: relative;
    top: 40;
    right: 50;
    font-weight: bold;
}

#shph #filtform {
    position: relative;
    top: 5;
    right: 250;
}

#filtform label {
    position: relative;
    top: 20;
    right: 0;
}

#filtform input[type=submit] {
    position: relative;
    top: 50;
    right: 0;
}

#shph h3 {
    position: relative;
    top: 0;
    left: 20;
}

#shph #shform {
    position: absolute;
    top: 150;
    left: 100;
}

#shph #shform th {
    position: relative;
    bottom: 20;
    left: 40;
}

#shform table label {
    position: relative;
    bottom: 86;
    left: 350;
}

#shform table ul{
    text-align: left;
        position: relative;
    top: 60;
    right: 380;
}

#shform ul input[type=checkbox]{
        position: relative;
    top: 0;
    right: 0;
    height: 12;
}

#shform input[type=submit] {
        position: relative;
    top: 0;
    left: 200;
}

#shph #bck {
    position: absolute;
    top: 180;
    right: 535;  
}

#newco {
    text-align: center;
    position: relative;
    top: 40;
    right: 0;
    font-weight: bold;
}

#newco form {
    position: relative;
    bottom: 150;
    left: 80;
}

#newco form label {
    text-align: center;
    position: relative;
    top: 80;
    left: 70;
}

#newco form textarea {
    position: relative;
    top: 200;
    right: 180;
    width: 300;
    height: 100;
}

#newco form input[type=submit] {
    position: absolute;
    text-align: center;
    top: 320;
    left: 200;
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));
    width: 200;
}

#newco input[type=button] {
    position: relative;
    top: 100;
    left: 0;
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));
}

#del_comm {
    text-align: center;
    position: relative;
    top: 20;
    right: 60;  
}

#del_comm form {
    position: relative;
    top: 20;
    right: 40;   
}

#del_comm form h5 {
    position: relative;
    top: 0;
    left: 40;   
}

#del_comm input {
    width: 120;
}

#phlikes {
    text-align: center;
    position: relative;
    top: 30;
    right: 40; 
}

#phlikes a {
    position: relative;
    top: 20;
    left: 0;  
}

#phlikes input {
    position: relative;
    top: 80;
    left: 0;
    width: 120;    
}

#phlikes #pagination {
    position: relative;
    top: 60;
    left: 0; 
    font-weight: bold;
}

#comlikes {
    text-align: center;
    position: relative;
    top: 40;
    left: 60; 
}

#comlikes a {
    position: relative;
    top: 20;
    left: 80;  
}

#comm p {
    font-size: 21px;
}

#comlikes input {
    position: relative;
    top: 50;
    left: 80;
    width: 120;    
}

#see {
    color: #345;
}

#comlikes #pagination {
    position: relative;
    top: 60;
    left: 0; 
    font-weight: bold;
}

#commauth {
    color: #345;
}

#pview #nlikes {
    position: relative;
    top: 20;
    left: 0; 
    width: 400;
}

#pview #delcom {
    position: relative;
    top: 40;
    left: 0;  
}

#photocomm #comm {
    position: relative;
    top: 220;
    left: 0;    
}

#photocomm #pagination {
    position: relative;
    top: 220;
    left: 0;  
    font-weight: bold;
}

#comm #see {
    position: relative;
    top: 20;
    left: 0;   
}
#report  {
    position: relative;
    top: 40;
    left: 20; 
}

#report h3 {
    text-align: center;
        position: relative;
    top: 0;
    left: 180; 
}

#report h5 {
    line-height: 1.2;
    font-weight: bold;
}

#report input {
    width: 120;
        position: relative;
    top: 40;
    left: 260; 
}

#search_photo_form {
    font-weight: bold;
    position: relative;
    top: 20;
    left: 150;  
}

#search_photo_form h3 {
    text-align: center;
    position: relative;
    top: 0;
    right: 200;  
}

#search_photo_form form {
    position: relative;
    top: 20;
    left: 0;  
}

#search_photo_form form h5 {
    position: relative;
    top: 10;
    left: 0;  
}

#search_photo_form form #tx {
    position: relative;
    top: 30;
    left: 0; 
}

#tx label {
    position: relative;
    top: 0;
    right: 30; 
}

#search_photo_form form input[type=submit] {
    position: relative;
    top: 80;
    left: 120; 
}

#search_photo_form form input[type=button] {
    position: relative;
    top: 100;
    left: 120; 
}

#sch_folder_form {
    font-weight: bold;
    position: relative;
    top: 20;
    left: 150;  
}

#sch_folder_form h3 {
    text-align: center;
    position: relative;
    top: 0;
    right: 200;  
}

#sch_folder_form form {
    position: relative;
    top: 20;
    left: 0;  
}

#sch_folder_form form h5 {
    position: relative;
    top: 10;
    left: 0;  
}

#sch_folder_form form #tx {
    position: relative;
    top: 20;
    left: 0; 
}

#sch_folder_form form input[type=submit] {
    position: relative;
    top: 80;
    left: 120; 
}

#sch_folder_form form input[type=button] {
    position: relative;
    top: 100;
    left: 120; 
}

#sch_store_res {
    text-align: center;
    position: relative;
    top: 40;
    right: 50; 
    font-weight: bold;
}

#sch_store_res h3 {
    position: relative;
    top: 0;
    left: 10; 
}

#sch_store_res a {
    color: #345;
    position: relative;
    top: 0;
    right: 100;
    display: block;
    width: 200;
}

#sch_store_res #found {
    display: block;
    text-align: center;
    position: relative;
    top: 30;
    left: 300; 
}

#sch_store_res #found #ug {
    text-align: left;
    position: relative;
    top: 30;
    left: 5;
    font-weight: bold;
}

#sch_store_res #found h5 {
    display: block;
    position: relative;
    bottom: 50;
    left: 10;
        text-align: left;
}

#sch_store_res #found p {
    display: block;
    position: relative;
    top: 20;
    left: 100; 
}

#sch_store_res #back {
    width: 120;
    position: relative;
    top: 50;
    left: 10;  
}

#sch_store_res #found p label {
    text-align: left;
    position: relative;
    top: 0;
    right: 390; 
    line-height: 1.2;
}

#sch_store_res #found p a {
    text-align: center;
    display: block;
    position: relative;
    top: 20;
    right: 110;
    width: 200;    
}

#sch_store_res h5 {
    text-align: center;
    position: relative;
    top: 10;
    left: 10;
}

#sch_store_res #nfnd {
    position: relative;
    top: 30;
    right: 80;
    font-weight: bold;
}

#sch_folder_res {
    font-weight: bold;
    position: relative;
    top: 20;
    left: 240; 
}

#sch_folder_res h3 {
    position: relative;
    top: 0;
    left: 10; 
}

#sch_folder_res a {
    color: #345;
    position: relative;
    top: 0;
    right: 100;
    display: block;
    width: 200;
}

#sch_folder_res #found {
    display: block;
    position: relative;
    top: 30;
    right: 30; 
}

#found #ug {
    text-align: left;
    position: relative;
    top: 30;
    left: 5;
    font-weight: bold;
}

#found h5 {
    display: block;
    position: relative;
    top: 0;
    left: 40; 
}

#found p {
    display: block;
    position: relative;
    top: 20;
    left: 100; 
}

#sch_folder_res #back {
    width: 120;
    position: relative;
    top: 60;
    left: 50;  
}

#sch_folder_res #found p label {
    position: relative;
    top: 35;
    left: 50; 
    line-height: 1.2;
}

#sch_folder_res #found p a {
    text-align: center;
    display: block;
    position: relative;
    bottom: 0;
    right: 100;
    width: 120;    
}

#sch_folder_res h5 {
    text-align: left;
    position: relative;
    top: 10;
    left: 10;
}

#sch_folder_res #nfnd {
    position: relative;
    top: 30;
    right: 80;
    font-weight: bold;
}

#report  {
    position: relative;
    top: 40;
    left: 20; 
}

#report h3 {
    text-align: center;
        position: relative;
    top: 0;
    left: 180; 
}

#report h5 {
    line-height: 1.2;
    font-weight: bold;
}

#report input {
    width: 120;
        position: relative;
    top: 40;
    left: 260; 
}

#search_photo_form {
    font-weight: bold;
    position: relative;
    top: 20;
    left: 150;  
}

#search_photo_form h3 {
    text-align: center;
    position: relative;
    top: 0;
    right: 200;  
}

#search_photo_form form {
    position: relative;
    top: 20;
    left: 0;  
}

#search_photo_form form h5 {
    position: relative;
    top: 10;
    left: 0;  
}

#search_photo_form label {
    position: relative;
    top: 0;
    right: 30; 
}

#search_photo_form form input[type=submit] {
    position: relative;
    top: 80;
    left: 120; 
}

#search_photo_form form input[type=button] {
    position: relative;
    top: 100;
    left: 120; 
}