body {
    display: block;
    margin: 20 300;
    background: #baf;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #024;
}

ul {
    list-style-type: none;
}

.btn-info {
    font-weight: bold;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));  
    color: #024;
    font-weight: bold;
    border-color: #458
}

.btn-info:hover{
    border-color: #111;
    border-color: #eee;
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));
}

.btn-info:active{
    border-color: #111;
    border-color: #eee;
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));
}

a {
    width: 240;
}

input[type=submit] {
    width: 120;
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));
}

input[type=button] {
    width: 120;
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));
}

img {
    height: 5%;
    width: 5%;
}

#newfo {
    text-align: center;
    position: relative;
    top: 40;
    right: 70;
}

#newfo form {
    position: relative;
    top: 50;
    right: 10;
}

#newfo form input[type=submit] {
    position: relative;
    top: 20;
    left: 0;
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));
}

#newfo a {
    position: relative;
    top: 80;
    right: 10;
    width: 120;
}

#newfi {
    text-align: center;
    position: relative;
    top: 40;
    right: 60;
}

#newfi h3 {
    text-align: center;
    position: relative;
    top: 0;
    left: 30;
}

#newfi form {
text-align: center;
display: block;
    position: relative;
    top: 50;
    right: 0;
}

#newfi form input[type=file]  {
    text-align: center;
    font-weight: bold;
    width: 400;
        position: relative;
    top: 0;
    left: 240;
}
#newfi form input[type=submit] {
    position: relative;
    top: 20;
    left: 0;
    background: linear-gradient(rgb(130,120,200), rgb(200,190,254));
}

#newfi a {
    position: relative;
    top: 80;
    right: 0;
    width: 120;
}

#store {
    text-align: center;
    position: relative;
    top: 20;
    right: 260;
}

#store h5 {
    position: relative;
    top: 20;
    font-weight: bold;
    right: 0; 
}

#store #btt {
    position: relative;
    top: 60;
    right: 0;
}

#store #content {
    position: relative;
    bottom: 110;
    left: 450;
}

#content #schst {
    width: 120;
        position: relative;
    top: 5;
}

#content #schfld {
    width: 200;
        position: relative;
    top: 45;
}

#folder_view {
    text-align: center;
    position: relative;
    top: 20;
    right: 260;
}

#folder_view #bck {
    width: 120;
}

#folder_view h3 {
    position: relative;
    top: 40;
    right: 0; 
}

#folder_view h5 {
    position: relative;
    top: 20;
    font-weight: bold;
    right: 0; 
}

#folder_view #btt {
    position: relative;
    top: 60;
    right: 0;
}

#folder_view #par {
    color: #468;
}

#folder_view #content {
    position: relative;
    bottom: 320;
    left: 450;
}

#folder_view #created {
    position: relative;
    top: 40;
    right: 0;
}

#content a {
    position: relative;
    top: 30;
    left: 0;
}

#del {
    text-align: center;
    position: relative;
    top: 40;
    right: 80; 
}

#del h3 {
    position: relative;
    top: 0;
    left: 50; 
    font-weight: bold;
}

#del h5 {
    font-weight: bold;
}

#del form {
    position: relative;
    top: 10;
    left: 50; 
    font-weight: bold;
}

#del form input {
    position: relative;
    top: 10;
}

#share {
    text-align: center;
    position: relative;
    top: 30;
    right: 80; 
}

#share #filtform {
    position: relative;
    top: 50;
    right: 250;
}

#filtform label {
    position: relative;
    top: 20;
    left: 50;
}

#filtform input[type=submit] {
    position: relative;
    top: 20;
    right: 0;
    font-weight: bold;
}

#share h3 {
    position: relative;
    top: 0;
    left: 20;
}

#share #shform {
    position: relative;
    top: 30;
    left: 100;
}

#share #shform th {
    position: relative;
    bottom: 20;
    left: 40;
}

#shform table label {
    position: relative;
    bottom: 86;
    left: 350;
}

#shform table ul{
    text-align: left;
        position: relative;
    top: 60;
    right: 200;
}

#shform ul input[type=checkbox]{
        position: relative;
    top: 0;
    right: 0;
    height: 12;
}

#shform input[type=submit] {
        position: relative;
    top: 0;
    left: 130;
    font-weight: bold;
}

#share #bck {
    position: relative;
    top: 30;
    right: 0;
        width: 120;
}

#movein {
    text-align: center;
    position: relative;
    top: 30;
    right: 80; 
}

#movein h3 {
    position: relative;
    top: 0;
    left: 50; 
}

#moveout {
    text-align: center;
    position: relative;
    top: 30;
    right: 80; 
}

#moveout h3 {
    position: relative;
    top: 0;
    left: 50; 
}

#moveout h5 {
    position: relative;
    top: 0;
    left: 50; 
}

#rename {
    text-align: center;
    position: relative;
    top: 30;
    right: 70; 
}

#rename form {
    position: relative;
    top: 30;
    right: 0;  
}

#folder_view #content label {
    position: relative;
    top: 50;
    right: 0;  
}

#rename form input[type=submit]{
    position: relative;
    top: 10;
    right: 0;  
}

#rename .btn-info {
    width: 120;
}

#rename a {
    position: relative;
    top: 40;
    right: 0;  
}

#sch_store_form {
    font-weight: bold;
    position: relative;
    top: 20;
    left: 150;  
}

#sch_store_form h3 {
    text-align: center;
    position: relative;
    top: 0;
    right: 200;  
}

#sch_store_form form {
    position: relative;
    top: 20;
    left: 0;  
}

#sch_store_form form h5 {
    position: relative;
    top: 10;
    left: 0;  
}

#sch_store_form form #tx {
    position: relative;
    top: 30;
    left: 0; 
}

#tx label {
    position: relative;
    top: 0;
    right: 30; 
}

#sch_store_form form input[type=submit] {
    position: relative;
    top: 80;
    left: 120; 
}

#sch_store_form form input[type=button] {
    position: relative;
    top: 100;
    left: 120; 
}

#sch_folder_form {
    font-weight: bold;
    position: relative;
    top: 20;
    left: 150;  
}

#sch_folder_form h3 {
    text-align: center;
    position: relative;
    top: 0;
    right: 200;  
}

#sch_folder_form form {
    position: relative;
    top: 20;
    left: 0;  
}

#sch_folder_form form h5 {
    position: relative;
    top: 10;
    left: 0;  
}

#sch_folder_form form #tx {
    position: relative;
    top: 20;
    left: 0; 
}

#sch_folder_form form input[type=submit] {
    position: relative;
    top: 80;
    left: 120; 
}

#sch_folder_form form input[type=button] {
    position: relative;
    top: 100;
    left: 120; 
}

#sch_store_res {
    text-align: center;
    position: relative;
    top: 40;
    right: 50; 
    font-weight: bold;
}

#sch_store_res h3 {
    position: relative;
    top: 0;
    left: 10; 
}

#sch_store_res a {
    color: #345;
    position: relative;
    top: 0;
    right: 100;
    display: block;
    width: 200;
}

#sch_store_res #found {
    display: block;
    text-align: center;
    position: relative;
    top: 30;
    left: 300; 
}

#sch_store_res #found #ug {
    text-align: left;
    position: relative;
    top: 30;
    left: 5;
    font-weight: bold;
}

#sch_store_res #found h5 {
    display: block;
    position: relative;
    bottom: 50;
    left: 10;
        text-align: left;
}

#sch_store_res #found p {
    display: block;
    position: relative;
    top: 20;
    left: 100; 
}

#sch_store_res #back {
    width: 120;
    position: relative;
    top: 50;
    left: 10;  
}

#sch_store_res #found p label {
    text-align: left;
    position: relative;
    top: 0;
    right: 390; 
    line-height: 1.2;
}

#sch_store_res #found p a {
    text-align: center;
    display: block;
    position: relative;
    top: 20;
    right: 110;
    width: 200;    
}

#sch_store_res h5 {
    text-align: center;
    position: relative;
    top: 10;
    left: 10;
}

#sch_store_res #nfnd {
    position: relative;
    top: 30;
    right: 80;
    font-weight: bold;
}

#sch_folder_res {
    font-weight: bold;
    position: relative;
    top: 20;
    left: 240; 
}

#sch_folder_res h3 {
    position: relative;
    top: 0;
    left: 10; 
}

#sch_folder_res a {
    color: #345;
    position: relative;
    top: 0;
    right: 100;
    display: block;
    width: 200;
}

#sch_folder_res #found {
    display: block;
    position: relative;
    top: 30;
    right: 30; 
}

#found #ug {
    text-align: left;
    position: relative;
    top: 30;
    left: 5;
    font-weight: bold;
}

#found h5 {
    display: block;
    position: relative;
    top: 0;
    left: 40; 
}

#found p {
    display: block;
    position: relative;
    top: 20;
    left: 100; 
}

#sch_folder_res #back {
    width: 120;
    position: relative;
    top: 60;
    left: 50;  
}

#sch_folder_res #found p label {
    position: relative;
    top: 35;
    left: 50; 
    line-height: 1.2;
}

#sch_folder_res #found p a {
    text-align: center;
    display: block;
    position: relative;
    bottom: 0;
    right: 100;
    width: 120;    
}

#sch_folder_res h5 {
    text-align: left;
    position: relative;
    top: 10;
    left: 10;
}

#sch_folder_res #nfnd {
    position: relative;
    top: 30;
    right: 80;
    font-weight: bold;
}

#report  {
    position: relative;
    top: 40;
    left: 20; 
}

#report h3 {
    text-align: center;
        position: relative;
    top: 0;
    left: 180; 
}

#report h5 {
    line-height: 1.2;
    font-weight: bold;
}

#report input {
    width: 120;
        position: relative;
    top: 40;
    left: 260; 
}

#shfolder {
    text-align: center;
    position: relative;
    top: 30;
    right: 80; 
}

#shfolder #filtform {
    position: relative;
    top: 45;
    right: 200;
}

#shfolder h3 {
    position: relative;
    top: 0;
    left: 20;
}

#filtform label {
    font-weight: bold;
}

#shfolder #shform {
    position: relative;
    top: 10;
    left: 130;
}

#shfolder #shform th {
    position: relative;
    bottom: 0;
    left: 40;
}

#shfolder #shform td {
    position: relative;
    top: 20;
    left: 0;
}

#shfolder #shform #sharebutton {
    position: relative;
    bottom: 60;
    left: 125;
}

#shfolder #bck {
    position: relative;
    top: 80;
    right: 0;
        width: 120;
}