
{% load i18n %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/storage.css' %}">

<div id="newfo">

<h3>Nueva carpeta</h3>

<form action="{% url 'create_folder' %}" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Crear carpeta">
</form>

<a href="{% url 'store_view' %}" class="btn btn-info" role="button">Volver Atr&aacute;s</a><br/>

</div>
