
{% load i18n %}

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/storage.css' %}">

<div id="share">

<h3>Compartir fichero</h3>

<form action="" id="filtform" method="get">
    Filtrar Amigos: <input type="text" name="q"/><br/>
    <input type="submit" value="Filtrar"/><br/>
</form>

<form action="" id="shform" method="post">{% csrf_token %}
    <table>{{ form.as_table }}</table>
    <input type="submit" value="Compartir">
</form>

<br/><br/><a href="{% url 'store_view' %}" id="bck" class="btn btn-info" role="button">Volver atr&aacute;s</a><br/>

</div>