
{% load i18n %}

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/storage.css' %}">

<div id="movein">

<h3>Mover a carpeta</h3>

<form action="" method="post">{% csrf_token %}
	{{ form.as_p }}
    <input type="submit" name='move_into_folder' value="Mover a carpeta">
</form>
{% if item.parent_folder %}
<a href="{% url 'folder_view' item.parent_folder.id %}" class="btn btn-info" role="button">Volver atr&aacute;s</a>
{% else %}
<a href="{% url 'store_view' %}" class="btn btn-info" role="button">Volver atr&aacute;s</a>
{% endif %}<br/>

</div>