
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/storage.css' %}">

<div id="report">

<h3>Reportar archivo o carpeta</h3>

<form action="" method="post">{% csrf_token %}
    <h5>&#191;Seguro que quieres reportar este archivo o carpeta?</h5>
    <input type="submit" name="report" value="Confirmar"/>
    <input type="submit" name="no_report" value="Cancelar"/>
</form>

</div>