
{% load i18n %}

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/storage.css' %}">
    
<div id="newfi">    
    
<h3>Subir nuevo archivo (Máx: 30 MB)</h3>

<form action="{% url 'upload_file' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
	
    <p>{{ form.non_field_errors }}
    {{ form.file.errors }} {{ form.file }} </p>
    
    <input type="submit" value="Subir archivo">
</form>

<a href="{% url 'store_view' %}" class="btn btn-info" role="button">Volver atr&aacute;s</a><br/>

</div>