<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
{% load i18n %}

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/storage.css' %}">

<div id="store">

    <h3>Almac&eacute;n de archivos</h3>

        <h5>Guardados {{ total_size }}
        {% if total_size >= gbu %} GB
        {% else %} 
            {% if total_size >= mbu %} MB
            {% else %} KB
            {% endif %} 
        /50 GB [{{ perc }} %]</h5>
        {% endif %}
     
    <div id="btt">
        <a href="{% url 'upload_file' %}" class="btn btn-info" role="button">Subir fichero</a><br/>        
        <a href="{% url 'create_folder' %}" class="btn btn-info" role="button">Crear carpeta</a><br/>
        <a href="{% url 'main_menu' %}" class="btn btn-info" role="button">Volver a la p&aacute;gina de inicio</a><br/>
    </div>
    
    <div id="content">
        {% if empty %}
            <label>No tienes nada almacenado todav&iacute;a</label>
        {% else %}
             <a href="{% url 'store_search' %}" class="btn btn-info" role="button" id="schst">Buscar</a><br/>
        {% endif %}
        {% if folders %}
 
                {% for folder in folders %}
                    {% if not folder.parent_folder %}
                        <h5><img src="{% static 'images/folder_icon.png' %}" alt="FldLogo"/> {{ folder.name }}
                        {% if folder.get_folder_size >= mbu %}
                            ({{ folder.get_folder_size }} MB)
                        {% else %}
                            ({{ folder.get_folder_size }} KB)
                        {% endif %}</h5><br/>
                        Creada el {{ folder.created|date:_("DATETIME_FORMAT") }}<br/>
                            <a href="{% url 'folder_view' folder.id %}" class="btn btn-info" role="button">Ver carpeta</a><br/>
                            <a href="{% url 'download_folder' folder.id %}" class="btn btn-info" role="button">Descargar carpeta completa</a><br/>
                            <a href="{% url 'delete_folder' folder.id %}" class="btn btn-info" role="button">Eliminar carpeta</a><br/>
                            {% if user.email == folder.creator.email %}
                            <a href="{% url 'move_folder_into_folder' folder.id %}" class="btn btn-info" role="button">Mover carpeta a carpeta</a><br/>
                            {% else %}
                            <a href="{% url 'report_folder' folder.id %}" class="btn btn-info" role="button">Reportar carpeta</a><br/>
                            {% endif %}
                    {% endif %}
                    <a href="{% url 'share_folder' folder.id %}" class="btn btn-info" role="button">Compartir carpeta</a><br/><br/>
                {% endfor %}
            {% endif %}
            <br/><br/><br/>
            {% if files %}
                 
                {% for file in files %}
                    {% if not file.parent_folder %}
                        <h5><img src="{% static 'images/file_icon.png' %}" alt="FLogo"/> {{ file.filename_as_list|last }}
                        {% if file.filesize_in_kb >= mbu %}
                            ({{ file.filesize_in_mb }} MB)
                        {% else %}
                            ({{ file.filesize_in_kb }} KB)
                        {% endif %}</h5><br/>
                        Subido el {{ file.created|date:_("DATETIME_FORMAT") }}<br/>
                            <a href="{% url 'download_file' file.id %}" class="btn btn-info" role="button">Descargar archivo</a><br/>
                            <a href="{% url 'share_file' file.id %}" class="btn btn-info" role="button">Compartir archivo</a><br/>
                            <a href="{% url 'delete_file' file.id %}" class="btn btn-info" role="button">Eliminar archivo</a><br/>
                            {% if user.email == file.creator.email %}
                            <a href="{% url 'move_file_into_folder' file.id %}" class="btn btn-info" role="button">Mover archivo a carpeta</a><br/>
                            {% else %}
                            <a href="{% url 'report_file' file.id %}" class="btn btn-info" role="button">Reportar archivo</a><br/>
                            {% endif %}
                    {% endif %}<br/>
                {% endfor %}      
            {% endif %}
        </div>
    
</div>