
{% load i18n %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">


{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/group.css' %}">

<div id="reqs_send">
<h3>Solicitudes enviadas a grupos</h3>

{% if reqs %}
	{% for request in reqs %}
		<p>
			Enviada a <strong>{{ request.group.name }}</strong> el {{ request.created|date:_("DATETIME_FORMAT") }}
            <a href="{% url 'groups_delete_request' request.group.id %}" class="btn btn-info" role="button"> &#215; Eliminar</a>
		</p>
    {% endfor %}
    
            <div id="pagination">
            {% if reqs.has_previous %}
            <a href="?page={{ reqs.previous_page_number }}"><-</a>
            {% endif %}

            <span class="current">
            {{ reqs.number }}/{{ reqs.paginator.num_pages }}
            </span>

            {% if reqs.has_next %}
            <a href="?page={{ reqs.next_page_number }}">-></a>
            {% endif %}
        </div>
{% else %}
<h5>No has enviado solicitudes para unirte a ning&uacute;n grupo</h5>
{% endif %}
    <input type=button value="Volver Atr&aacute;s" onClick="javascript:history.go(-1);">
</div>