{% load i18n %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/group.css' %}">

<div id="lreq">

<h3>Solicitudes enviadas a {{ group.name }}</h3>

{% if reqs %}
	{% for request in reqs %}
		<div id="greq">
			Enviada por 
            <a id="prof" href="{% url 'user_view' request.from_user.email %}">{{ request.from_user.first_name }} {{ request.from_user.last_name }}</a> 
            el {{ request.created|date:_("DATETIME_FORMAT") }} 
             <a href="{% url 'groups_respond_request' group.id request.from_user.email %}" class="btn btn-info" role="button">Responder Solicitud</a>
		</div>
    {% endfor %}
    
            <div id="pagination">
            {% if reqs.has_previous %}
            <a href="?page={{ reqs.previous_page_number }}"><-</a>
            {% endif %}

            <span class="current">
            {{ reqs.number }}/{{ reqs.paginator.num_pages }}
            </span>

            {% if reqs.has_next %}
            <a href="?page={{ reqs.next_page_number }}">-></a>
            {% endif %}
        </div>
{% else %}
<h5>No has recibido ninguna solicitud</h5>
{% endif %}

    <input type=button value="Volver Atr&aacute;s" onClick="javascript:history.go(-1);">

</div>