
{% load i18n %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/group.css' %}">

<div id="req_show">

<h3>Solicitud de uni&oacute;n a {{ req.group.name }} de {{ req.from_user.first_name }} {{ req.from_user.last_name }}</h3>

<form action="" method="post">{% csrf_token %}
    <h5>{{ req.from_user.first_name }} {{ req.from_user.last_name }} quiere unirse a {{ req.group.name }}.<br/>
    &#191;Quieres a&ntilde;adirlo a {{ req.group.name }}?</h5>
    <input type="submit" name="accept" value="Aceptar"/>
    <input type="submit" name="decline" value="Rechazar"/>
</form>
    <input id="bck" type=button value="Volver Atr&aacute;s" onClick="javascript:history.go(-1);">
</div>