{% load i18n %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/group.css' %}">

<div id="delreq">

<h3>Eliminar Solicitud</h3>

<form action="" method="post">{% csrf_token %}
<h5>&#191;Seguro que quieres eliminar tu solicitud para unirte a {{ req.group.name }}?</h5>
<input type="submit" name="delete" value="Confirmar"/>
<input type="submit" name="no_delete" value="Cancelar"/>
</form>
</div>