
{% load i18n %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/group.css' %}">

<div id="gr_snd_req">

<h3>Unirte a grupo</h3>

{% if done %}
<h5>Ya has enviado una solicitud para unirte a {{ group.name }}.<br/>
Espera a que tu solicitud sea respondida.</h5>
{% else %}
<h5>Unirte como miembro de {{ group.name }}.<br/> &#191;Enviar una solicitud para unirte al grupo?</h5>

<form action="" method="post">{% csrf_token %}    
<input type="submit" name="join_request" value="Confirmar"/>
<input type=button value="Volver Atr&aacute;s" onClick="javascript:history.go(-1);">
</form>
{% endif %}

</div>