{% load i18n %} 
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/msg.css' %}">

<div id="write">

{% if response %}
<h3>Responder a {{ user.first_name }} {{ user.last_name }}</h3>
{% else %}
<h3>Enviar mensaje a {{ user.first_name }} {{ user.last_name }}</h3>
{% endif %}
       
<form action="" method="post">{% csrf_token %}
    {{ form.as_table }}
   <input type="submit" value="Enviar Mensaje"/><br/>
   <input type="reset" value="Limpiar Todo"/><br/>
</form>
<input type=button value="Volver Atr&aacute;s" onClick="javascript:history.go(-1);">

</div>