{% load i18n %} 

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/msg.css' %}">

<div id="box">

<h3>Mensajes enviados</h3>

<div id="msg">
{% if messages %} 
<table class="messages">
{% for message in messages %} 
        <h5>{{ message.send_from.first_name }} {{ message.send_from.last_name }}</h5>
        <td>
            {% if message.is_new %}<strong>{% endif %}
            {% if message.replied %}<em>{% endif %}
            
            '{{ message.body|linebreaksbr }}'<br /><br />
            
            {% if message.replied %}</em>{% endif %}
            {% if message.is_new %}</strong>{% endif %}
        </td>
        <td>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</td>
        <a href="{% url 'messages_detail' message.id %}" class="btn btn-info" role="button">Leer mensaje</a><br/>
        <br/><br/>
{% endfor %}
{% else %}
<h5>No hay mensajes escritos con {{ friend.first_name }} {{ friend.last_name }} </h5>

{% endif %}</div>
<div id="bn">
<input type=button value="Volver Atr&aacute;s" onClick="javascript:history.go(-1);">
</div>
</div>