{% load i18n %} 

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/msg.css' %}">

<div id="box">

<h3>Bandeja de entrada</h3>

<div id="msg">
{% if message_list %} 
<h5>Tienes {{ message_list|length }} Mensaje(s)</h5>
{% for message in message_list %} 
    <div id="msg">
        <strong>{{ message.send_from.first_name }} {{ message.send_from.last_name }}:</strong><br/><br/>
            {% if message.read == False %}<strong>{% endif %}
            {% if message.replied %}<em>{% endif %}
            
            '{{ message.body|linebreaksbr }}'<br /><br />
            
            {% if message.replied %}</em>{% endif %}
            {% if message.read == False %}</strong>{% endif %}
        <a href="{% url 'messages_detail' message.id %}" class="btn btn-info" role="button">Leer mensaje</a><br/>
        <a href="{% url 'messages_delete' message.id %}" class="btn btn-info" role="button">Eliminar</a><br/>
    </div><br/><br/>
{% endfor %}
{% else %}
<h5>No tienes mensajes en la bandeja de entrada</h5>
{% endif %} </div>
<div id="bn">
    <a href="{% url 'messages_outbox' %}" class="btn btn-info" role="button">Ver bandeja de salida</a><br/>
    <a href="{% url 'main_menu' %}" class="btn btn-info" role="button">Volver al Men&uacute; Principal</a><br/>
</div>

</div>