
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/msg.css' %}">

<div id="report">

<h3>Reportar mensaje</h3>

<form action="" method="post">{% csrf_token %}<br/>
    <h5>&#191;Seguro que quieres reportar este mensaje?</h5>
    <input type="submit" name="report" value="Confirmar"/>
    <input type="submit" name="no_report" value="Cancelar"/>
</form>

</div>