{% load i18n %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/msg.css' %}">

<div id="view">

<h3>Ver Mensaje</h3>

<div id="bn">
<div id="before">
{% if message.parent_msg %}
<h5>Mensaje anterior</h5><br/>
<strong>{{ message.parent_msg.send_from.first_name }} {{ message.parent_msg.send_from.last_name }} dijo: </strong><br/><br/>
'{{ message.parent_msg.body|linebreaksbr }}'<br /><br /> 
<a href="{% url 'messages_detail' message.parent_msg.id %}" id="seebefore" class="btn btn-info" role="button">Ver</a><br/>
<br/>
{% endif %}<br/></div>
<strong>{{ message.send_from.first_name }} {{ message.send_from.last_name }} dice: </strong><br/><br/>
'{{ message.body|linebreaksbr }}'<br /><br />
<a href="{% url 'messages_reply' message.id %}" class="btn btn-info" role="button">Responder</a><br/>
<a href="{% url 'messages_delete' message.id %}" class="btn btn-info" role="button">Eliminar</a><br/><br/>
<a href="{% url 'messages_inbox' %}" class="btn btn-info" role="button">Bandeja de entrada</a><br/>
<a href="{% url 'messages_outbox' %}" class="btn btn-info" role="button">Bandeja de salida</a><br/>
</div>
</div>