{% load i18n %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/photos.css' %}">

<div id="pview">

    <h3>{% if photo.title %}
        {{ photo.title }}
    {% else %}
        Foto sin t&iacute;tulo
    {% endif %}</h3>

    <td>
        <h5 id="owner">
        <img src="{{ photo.image.url }}"><br/><br/><br/>
        Subida por {{ photo.creator.first_name }} {{ photo.creator.last_name }},<br/> 
        el {{ photo.created|date:_("DATETIME_FORMAT") }} </h5>
        {% if pcr %}<div id="buttedit">
            <a href="{% url 'friend_rename_photo' user.email photo.id %}" class="btn btn-info" role="button">Editar nombre de foto</a><br/>
            <a href="{% url 'friend_profile_photo' user.email photo.id %}" class="btn btn-info" role="button">Seleccionar como foto de perfil</a><br/>
            <a href="{% url 'friend_delete_photo' user.email photo.id %}" class="btn btn-info" role="button">Eliminar foto</a><br/></div>
        {% else %}
            <a id="rep" href="{% url 'report_photo' user.email photo.id %}" class="btn btn-info" role="button">Reportar foto</a><br/>
        {% endif %}
        <div id="buttbasic">
        <a href="{% url 'friend_like_photo' user.email photo.id %}" class="btn btn-info" role="button">Me gusta</a><br/>
        <br/><strong>A {{ photo.likes }} persona(s) le(s) gusta esta foto</strong>
        {% if photo.likes > 0 %}
        <a href="{% url 'friend_photo_likes_list' user.email photo.id %}" class="btn btn-info" role="button">Ver</a>
        {% endif %}<br/>  
        <br/><a href="{% url 'friend_share_photo' user.email photo.id %}" class="btn btn-info" role="button">Compartir foto</a><br/>
        <a href="{% url 'friend_photo_new_comment' user.email photo.id %}" class="btn btn-info" role="button">Comentar foto</a><br/>
        <br/><a href="{% url 'friend_photobook_view' user.email %}" class="btn btn-info" role="button">Volver Atr&aacute;s</a><br/><br/>

        
        {% if comm %}  
            {% for c in comm %}<div id="comm">
                    <p><strong>{{ c.comment.ctext }}</strong></p> <br/>
                    Escrito por {{ c.comment.author.first_name }} {{ c.comment.author.last_name }}<br/>
                    <a href="{% url 'friend_photo_like_comment' user.email photo.id c.id %}" class="btn btn-info" role="button">Me gusta</a><br/>
                    <strong>A {{ c.likes }} persona(s) le(s) gusta este comentario</strong>
                    {% if c.likes > 0 %}
                    <a href="{% url 'friend_photo_comment_likes_list' user.email photo.id c.id %}" class="btn btn-info" role="button">Ver</a></p><br/> 
                    {% endif %}<br/>
                    {% if pcr or c.comment.author.email == me.email %}  
                    <a href="{% url 'friend_photo_delete_comment' user.email photo.id c.id %}" class="btn btn-info" role="button">Eliminar comentario</a><br/>
                    {% else %}
                    <a href="{% url 'photo_report_comment' user.email photo.id c.id %}" class="btn btn-info" role="button">Reportar comentario</a><br/>
                    {% endif %}  </div>
            {% endfor %}
            
            {% if comm.has_previous %}
            <a href="?page={{ comm.previous_page_number }}"><-</a>
            {% endif %}

            <span class="current">
            {{ comm.number }}/{{ comm.paginator.num_pages }}
            </span>

            {% if comm.has_next %}
            <a href="?page={{ comm.next_page_number }}">-></a>
            {% endif %}
            
        {% else %}
        <div id="photocomm">
        <h5>Esta foto a&uacute;n no tiene comentarios</h5></div>
        {% endif %}</div>
        
    </td>
</div>
