
{% load i18n %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/photos.css' %}">
 
 <div id="pbview">
 
<h3>Fotos de {{ user.first_name }} {{ user.last_name }}</h3>

    <tbody>
        {% if photos %}
            {% for photo in photos %}
                <a href="{% url 'friend_photo_view' user.email photo.id %}" class="btn btn-info" role="button">
                <h5>{{ photo.title }}</h5><img src="{{ photo.image.url }}">
                </a>
            {% endfor %}
            
            {% if photos.has_previous %}
            <a href="?page={{ photos.previous_page_number }}"><-</a>
            {% endif %}

            <span class="current">
            {{ photos.number }}/{{ photos.paginator.num_pages }}
            </span>

            {% if photos.has_next %}
            <a href="?page={{ photos.next_page_number }}">-></a>
            {% endif %}
            
            <a id="filter" href="{% url 'friend_filter_photos' user.email %}" class="btn btn-info" role="button">Buscar Fotos de {{ user.first_name }}</a><br/>
                        
        {% else %}
            <h5>No hay fotos que mostrar</h5>
        {% endif %}
        
    </tbody>
<a id="back" href="{% url 'user_view' user.email %}" class="btn btn-info" role="button">Volver atr&aacute;s</a><br/>

</div>