<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/photos.css' %}">

<div id="userphotos_menu">

<h3>Fotos</h3>

<div id="buttonery">
<a href="{% url 'upload_photo' %}" class="btn btn-info" role="button">Subir Foto</a><br/>
<a href="{% url 'photobook_view' %}" class="btn btn-info" role="button">Ver &Aacute;lbum de Fotos</a><br/>
<a href="{% url 'main_menu' %}" class="btn btn-info" role="button">Volver al men&uacute; principal</a><br/>
</div>

</div>