
{% load i18n %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/photos.css' %}">

<div id="newco">

<h3>Comentar foto<h3>

<h5>{{ photo.title }}</h5>

<form method="post" action=""> {% csrf_token %}            
    {{ form.as_p }}
    <input type="submit" name='new_comment' value="Enviar comentario">
</form>
<input type=button value="Volver Atr&aacute;s" onClick="javascript:history.go(-1);">
</div>