<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load i18n %}

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/photos.css' %}">

<div id="pview">
    <h3>{% if photo.title %}
        {{ photo.title }}
    {% else %}
        Foto sin t&iacute;tulo
    {% endif %}</h3>
        
        <h5 id="owner">
        <img src="{{ photo.image.url }}"><br/>
        <br/><br/>Subida por <a href="{% url 'user_view' photo.creator.email %}">
        {{ photo.creator.first_name }} {{ photo.creator.last_name }}</a>,<br/> 
        el {{ photo.created|date:_("DATETIME_FORMAT") }} </h5>
        {% if pcr %}<div id="buttedit">
            <a href="{% url 'rename_photo' photo.id %}" class="btn btn-info" role="button">Editar nombre de foto</a><br/>
            <a href="{% url 'profile_photo' photo.id %}" class="btn btn-info" role="button">Seleccionar como foto de perfil</a><br/>
            <a href="{% url 'delete_photo' photo.id %}" class="btn btn-info" role="button">Eliminar foto</a><br/></div>
        {% endif %}
        <div id="buttbasic">
        <a href="{% url 'like_photo' photo.id %}" class="btn btn-info" role="button">Me gusta</a><br/><br/>
        <br/><strong>A {{ photo.likes }} persona(s) le(s) gusta esta foto</strong>
        {% if photo.likes > 0 %}
        <a id="see" href="{% url 'photo_likes_list' photo.id %}">Ver</a>
        {% endif %}<br/><br/>
        <br/><a href="{% url 'share_photo' photo.id %}" class="btn btn-info" role="button">Compartir foto</a><br/>
        <a href="{% url 'photo_new_comment' photo.id %}" class="btn btn-info" role="button">Comentar foto</a><br/>
        {% if not pcr %}
        <a href="{% url 'delete_shared_photo' photo.id %}" class="btn btn-info" role="button">Eliminar foto</a><br/>
        {% endif %}
        <br/><a href="{% url 'photobook_view' %}" class="btn btn-info" role="button">Volver Atr&aacute;s</a><br/>
        <div id="photocomm">
        {% if comm %}  
            <p id="labcom">Comentarios</p>
            {% for c in comm %}<div id="comm">
                    <p><strong>{{ c.comment.ctext }}</strong></p> <br/>
                    <label>Escrito por <a id="commauth" href="{% url 'user_view' c.comment.author.email %}">
                    {{ c.comment.author.first_name }} {{ c.comment.author.last_name }}</a>,<br/>
                    el {{ c.created|date:_("DATETIME_FORMAT") }}</label><br/>
                    <a id="likecom" href="{% url 'photo_like_comment' photo.id c.id %}" class="btn btn-info" role="button">Me gusta</a><br/>
                    <br/><label id="nlikes">A {{ c.likes }} persona(s) le(s) gusta este comentario</label>
                    {% if c.likes > 0 %}
                    <a id="see" href="{% url 'photo_comment_likes_list' photo.id c.id %}">Ver</a> 
                    {% endif %}<br/>
                    {% if pcr %}  
                    <a id="delcom" href="{% url 'photo_delete_comment' photo.id c.id %}" class="btn btn-info" role="button">Eliminar comentario</a><br/>
                    {% endif %}</div> <br/><br/><br/><br/>
            {% endfor %}
            <div id="pagination">
            {% if comm.has_previous %}
            <a href="?page={{ comm.previous_page_number }}"><-</a>
            {% endif %}

            <span class="current">
            {{ comm.number }}/{{ comm.paginator.num_pages }}
            </span>

            {% if comm.has_next %}
            <a href="?page={{ comm.next_page_number }}">-></a>
            {% endif %}</div>
        {% else %}
        <h5>Esta foto a&uacute;n no tiene comentarios</h5>
        {% endif %}</div>
        </div>
</div>
</div>
</div>

