
{% load i18n %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/photos.css' %}">

<div id="pbview">

<h3>Fotos</h3>

        {% if photos %}
            {% for photo in photos %}
                
                <a href="{% url 'photo_view' photo.id %}" id="view" class="btn btn-info" role="button">
                    <h5>{{ photo.title }}</h5>
                    <img src="{{ photo.image.url }}">
                </a>
            {% endfor %}
            <br/>
            {% if photos.has_previous %}
            <a href="?page={{ photos.previous_page_number }}"><-</a>
            {% endif %}

            <span class="current">
            {{ photos.number }}/{{ photos.paginator.num_pages }}
            </span>

            {% if photos.has_next %}
            <a href="?page={{ photos.next_page_number }}">-></a>
            {% endif %}
            
 <a id="filter" href="{% url 'filter_photos' %}" class="btn btn-info" role="button">Buscar Fotos</a><br/>
            
        {% else %}
            <h5>No hay fotos que mostrar</h5> 
        {% endif %}
        
    <br/><a id="back" href="{% url 'photos_menu' %}" class="btn btn-info" role="button">Volver atr&aacute;s</a><br/>
</div>
