
{% load i18n %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/photos.css' %}">

<div id="renameph">

<h3>Cambiar nombre de foto</h3>
<form action="" method="post">{% csrf_token %}
    <p>{{form.as_p }}</p>
	<input type="submit" value="Confirmar"/>
</form>
<a href="{% url 'photo_view' photo.id %}" class="btn btn-info" role="button">Volver atr&aacute;s</a><br/>

</div>