
{% load i18n %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/photos.css' %}">

<div id="shph">

<h3>Compartir foto</h3>

{% if friends %}
<form id="filtform" action="" method="get">
    <label>Filtrar Amigos: </label><input type="text" name="q"/><br/>
    <input type="submit" value="Filtrar"/><br/>
</form>

<form id="shform" method="post" action="">{% csrf_token %}        
    <table>{{ form.as_table }}</table>
    <input type="submit" name='share_with' value="Compartir">
</form>

{% else %}
<h5>No tienes m&aacute;s amigos a los que invitar a {{ group.name }}.</h5>
{% endif %}
<br/><br/><a id="bck" href="{% url 'photo_view' photo.id %}" class="btn btn-info" role="button">Volver atr&aacute;s</a><br/>
</div>