
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<div id="block">
<h3>&#191;Bloquear a {{ user.first_name }}?</h3>

<form action="" method="post">{% csrf_token %}
    <input type="submit" name="block" value="Confirmar"/>
</form>
<input type=button value="Volver Atr&aacute;s" onClick="javascript:history.go(-1);">
</div>