
{% load i18n %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<div id="blocked">

<h3>Usuarios bloqueados</h3>

{% if blockedblockedusers %}
    <div id="fs">
        {% for user in blockedblockedusers %}
            <p>{{ user.first_name }} {{ user.last_name }}
            <a href="{% url 'unblock_user' user.email %}">[Desbloquear]</a></p>
        {% endfor %}
        
        <div id="pagination">
            {% if blockedusers.has_previous %}
            <a href="?page={{ blockedusers.previous_page_number }}"><-</a>
            {% endif %}

            <span class="current">
            {{ blockedusers.number }}/{{ blockedusers.paginator.num_pages }}
            </span>

            {% if blockedusers.has_next %}
            <a href="?page={{ blockedusers.next_page_number }}">-></a>
            {% endif %}
        </div>
    <a href="{% url 'friends_menu' %}" class="btn btn-info" role="button">Volver atr&aacute;s</a>
    </div>
{% else %}
    <label>No tienes ning&uacute;n usuario bloqueado.<br/>
    Al parecer a&uacute;n no te llevas fatal con nadie :)...</label>
    <a href="{% url 'friends_menu' %}" class="btn btn-info" role="button">Volver atr&aacute;s</a>
{% endif %}

</div>