
{% load i18n %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<div id="ffriends">

<h3>Amigos de {{ friend.first_name }} {{ friend.last_name }}</h3>

    <div id="fs">
    {% if friends|length == 1 %}
    <p id="only">Eres su unico amigo</p>
    {% endif %}
    {% for f in friends %}
        {% if user.email != f.email %}
            {% if f in user_friends %}<div id="isf">{% endif %}
                <a href="{% url 'user_view' f.email %}">{{ f.first_name }} {{ f.last_name }} </a>
            {% if f in user_friends %}</div>{% endif %}
                        
            <label>
            
            {% if f in user_friends %}
                <a href="{% url 'remove_friend' f.email %}" id="erase2" class="btn btn-info" role="button">&#215; Eliminar</a>
            {% else %}
                <a href="{% url 'block_user' f.email %}" id="block" class="btn btn-info" role="button">Bloquear</a>
            {% endif %}
            </label><br/>
        {% endif %}
    {% endfor %}</div><br/>
        <div id="pagination">
            {% if friends.has_previous %}
            <a href="?page={{ friends.previous_page_number }}"><-</a>
            {% endif %}

            <span class="current">
            {{ friends.number }}/{{ friends.paginator.num_pages }}
            </span>

            {% if friends.has_next %}
            <a href="?page={{ friends.next_page_number }}">-></a>
            {% endif %}
        </div>
    
    <p>Los usuarios marcados en color <label id="green">verde</label> son amigos tuyos.</p>
    <a href="{% url 'search_friend_of_friend' friend.email %}" class="btn btn-info" role="button" id="sch">Filtrar amigos de {{ friend.first_name }} </a> 
<input id="back" type=button value="Volver Atr&aacute;s" onClick="javascript:history.go(-1);">
</div>