
{% load i18n %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<div id="own_friends">

<h3>Tus Amigos</h3>

{% if friends %}
    <div id="fs">
    {% for friend in friends %}
        <a href="{% url 'user_view' friend.email %}">{{ friend.first_name }} {{ friend.last_name }}. </a> 
        <label>
            <a href="{% url 'remove_friend' friend.email %}" id="erase2" class="btn btn-info" role="button">&#215; Eliminar</a>
        </label><br/>
    {% endfor %}</div><br/>
    
    <div id="pagination">
            {% if friends.has_previous %}
            <a href="?page={{ friends.previous_page_number }}"><-</a>
            {% endif %}

            <span class="current">
            {{ friends.number }}/{{ friends.paginator.num_pages }}
            </span>

            {% if friends.has_next %}
            <a href="?page={{ friends.next_page_number }}">-></a>
            {% endif %}
        </div>
    
<br/><a href="{% url 'search_friend' %}" class="btn btn-info" role="button" id="sch">Filtrar amigos</a><br/>
<br/>
{% else %}
    <div id="alone">
    <p style="color: red;">No tienes ning&uacute;n amigo todav&iacute;a.</p>
    <h5>&#191;A que esperas? &#161;No est&eacute;s solo!</h5><br/>
    <a href="{% url 'search_any_user' %}" class="btn btn-info" role="button">Buscar amigos</a><br/>
    </div>
{% endif %}
<a id="back" href="{% url 'friends_menu' %}" class="btn btn-info" role="button">Volver atr&aacute;s</a>

</div>