
{% load i18n %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<div id="invite_user">

<h3>&#191;Enviar solicitud de amistad a {{ user.first_name }} {{ user.last_name }}?</h3>

{% if iv %}
<h5>
Ya has enviado una solicitud de amistad a {{ user.first_name }}<br/>
Por favor, espera a que {{ user.first_name }} responda. <br/>
</h5>
<li><a href="{% url 'friends_menu' %}">Volver atr&aacute;s</a></li>
{% else %}
<h5>
Ten en cuenta que si {{ user.first_name }} rechaza tu solicitud de amistad,<br/>
no podr&aacute;s enviarle m&aacute;s solicitudes de amistad. <br/>
</h5>
<form action="" method="post">{% csrf_token %}
    <input type="submit" name="invite" value="Confirmar"/>
</form>
<input type=button value="Volver Atr&aacute;s" onClick="javascript:history.go(-1);">
{% endif %}

</div>
