
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<div id="freq">
<h3>Solicitud de Amistad</h3>

<form action="" method="post">{% csrf_token %}
    <h5>&#191;Agregar como amigo a {{ user.first_name }}?</h5>
    <input type="submit" name="accept" value="Aceptar"/>
    <input type="submit" name="decline" value="Rechazar"/>
</form>
<input type=button value="Volver Atr&aacute;s" onClick="javascript:history.go(-1);">
</div>