
{% load i18n %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<div id="invs">

<h3>
{% if status == 'received' %}Invitaciones Recibidas{% endif %}
{% if status == 'sent' %}Invitaciones Enviadas{% endif %}
</h3>

    {% if invitations %}
        <div id="invsd">
        {% for invitation in invitations %}
            {% if status == 'received' %}
                <label id="recv">
                <h5><label>{{ invitation.from_user.first_name }} {{ invitation.from_user.last_name }}</label> quiere ser tu amigo.</h5>
                <a href="{% url 'friends_respond_invitation' invitation.pk %}" class="btn btn-info" role="button">Responder petici&oacute;n</a>
                <a href="{% url 'user_view' invitation.from_user.email %}" class="btn btn-info" role="button">Ver Perfil</a><br/>
                </label>
            {% endif %}
            {% if status == 'sent' %}
                <label id="sent">
                <h5><label>{{ invitation.to_user.first_name }} {{ invitation.to_user.last_name }}</label> no ha respondido 
                todav&iacute;a a tu solicitud de amistad</h5>
                <a href="{% url 'friends_delete_invitation' invitation.pk %}" class="btn btn-info" role="button">&#215; Eliminar</a><br/>
                </label>
            {% endif %}		
        {% endfor %}
        
        <div id="pagination">
            {% if invitations.has_previous %}
            <a href="?page={{ invitations.previous_page_number }}"><-</a>
            {% endif %}

            <span class="current">
            {{ invitations.number }}/{{ invitations.paginator.num_pages }}
            </span>

            {% if invitations.has_next %}
            <a href="?page={{ invitations.next_page_number }}">-></a>
            {% endif %}
        </div>
        
        
        </div>
    {% else %}
        {% if status == 'received' %}
            <h5>No has recibido solicitudes de amistad</h5>
        {% endif %}
        {% if status == 'sent' %}
            <h5>No has enviado solicitudes de amistad</h5>
        {% endif %}
    {% endif %}

<br/><a href="{% url 'friends_menu' %}" class="btn btn-info" role="button" id="back">Volver atr&aacute;s</a><br/>

</div>