
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<div id="delinv">

<h3>Eliminar Solicitud de Amistad</h3>

<form action="" method="post">{% csrf_token %}
    <h5>&#191;Seguro que quieres eliminar esta solicitud de Amistad?</h5>
    <input type="submit" name="delete" value="Confirmar"/>
    <input type="submit" name="no_delete" value="Cancelar"/>
</form>

</div>