
<div id="friends_menu">
{% load i18n %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<h3>Amigos</h3>

<div id="buttonery">
    <a href="{% url 'search_any_user' %}" class="btn btn-info" role="button">Buscar Amigos</a><br/>
    <a href="{% url 'list_friends' %}" class="btn btn-info" role="button">Todos tus Amigos</a><br/>
    <a href="{% url 'list_blocked_users' %}" class="btn btn-info" role="button">Usuarios Bloqueados</a><br/>
    <a href="{% url 'friends_received_invitations' %}" class="btn btn-info" role="button">Solicitudes de Amistad Recibidas</a><br/>
    <a href="{% url 'friends_sent_invitations' %}" class="btn btn-info" role="button">Solicitudes de Amistad Enviadas</a><br/>
    <a href="{% url 'main_menu' %}" class="btn btn-info" role="button">Volver al Men&uacute; Principal</a><br/>
</div>

</div>