
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<div id="report">

<h3>Reportar usuario</h3>

<form action="" method="post">{% csrf_token %}
    <h5>Reportar a un usuario es un asunto muy serio. Si reportas a {{ user.first_name }}, <br/>
    el equipo de administraci&oacute;n de Quaba decidir&aacute; si dar de baja o no a este <br/>
    usuario.<br/><br/>
    &#191;Seguro que quieres reportar a {{ user.first_name }} {{ user.last_name }}?</h5>
    <input type="submit" name="report" value="Confirmar"/>
    <input type="submit" name="no_report" value="Cancelar"/>
</form>

</div>