

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<div id="unblock">

<h3>&#191;Desbloquear a {{ user.first_name }}?</h3>

<form action="" method="post">{% csrf_token %}
    <input type="submit" name="delete" value="Confirmar"/>
    <input type="submit" name="no_delete" value="Cancelar"/>
</form>

</div>