
{% load i18n %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<div id="user_view">

{% load staticfiles %}

<link rel="stylesheet" href="{% static 'css/main.css' %}">

{% if is_friend %}<div id="namefriend">{% endif %}
<h3>{{ user.first_name }} {{ user.last_name }}</h3>
{% if is_friend %}</div>{% endif %}

<div id="photofriend">
    {% if profile_photo %}
        <img src="{{ profile_photo.image.url }}"><br/>
        {% else %}
            {% if user.gender == 'M' %}
                <img src="{% static 'images/male_icon.jpg' %}" alt="MDPhoto"/><br/>
            {% elif user.gender == 'F' %}
                <img src="{% static 'images/female_icon.jpg' %}" alt="FDPhoto"/><br/>
            {% endif %}
    {% endif %}
</div>
    
	{% if is_friend %}<div id="buttonery">      
        <label><br/>Sois amigos desde el {{ fdate|date:_("DATETIME_FORMAT") }}</label><br/>
        <a href="{% url 'messages_compose' user.email %}" class="btn btn-info" role="button">Enviar Mensaje</a><br/>
        <a href="{% url 'friend_profile_detail' user.email %}" class="btn btn-info" role="button">Ver Informaci&oacute;n</a><br/>
        <a href="{% url 'messages_friendbox' user.email %}" class="btn btn-info" role="button">Ver Mensajes</a><br/>
        <a href="{% url 'list_friend_friends' user.email %}" class="btn btn-info" role="button">Ver Amigos</a><br/>
        <a href="{% url 'list_friend_groups' user.email %}" class="btn btn-info" role="button">Ver Grupos</a><br/>
        <a href="{% url 'friend_photobook_view' user.email %}" class="btn btn-info" role="button">Ver Fotos</a><br/>
        <a href="{% url 'remove_friend' user.email %}" class="btn btn-info" role="button">Eliminar</a><br/></div>
	{% else %}<div id="another">
        <label>No eres amigo de {{ user.first_name }}. Por lo tanto, no puedes acceder a su perfil.<br/>
        Puedes enviarle una solicitud de amistad y esperar a que te acepte.</label><br/>
        <a href="{% url 'invite_friend' user.email %}" class="btn btn-info" role="button">Agregar a {{ user.first_name }}</a><br/>
        <a href="{% url 'block_user' user.email %}" class="btn btn-info" role="button">Bloquear a {{ user.first_name }}</a><br/>
        <a href="{% url 'report_user' user.email %}" class="btn btn-info" role="button">Reportar a {{ user.first_name }}</a><br/></div>
	{% endif %}
        <br/>
   <a href="{% url 'friends_menu' %}" class="btn btn-info" role="button" id="bck">Volver atr&aacute;s</a><br/>
    
</div>