<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/out.css' %}">

<div id="error">

<h1>Contenido no encontrado</h1>

<h3>Se ha intentado acceder a contenido inexistente</h3>
<h5>Probablemente hayas intentado acceder a datos recientemente eliminados.</h5>

<input type=button value="Volver Atr&aacute;s" onClick="javascript:history.go(-1);">

</div>