<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/out.css' %}">

<div id="error">

<h1>Error al enviar los datos.</h1>

<h3>Ha habido un problema a la hora de procesar los datos.</h3>
<h5>Probablemente se haya excedido el tiempo de espera.</h5>

<input type=button value="Volver Atr&aacute;s" onClick="javascript:history.go(-1);">

</div>