<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/out.css' %}">

<div id="auth_error">
{% if register %}
    <h3>Error de registro</h3>
{% else %}
    <h3>Error de autentificaci&oacute;n</h3>
{% endif %}
<h5>{{ msg }}</h5>
<input type=button id="BCKERR" value="Volver Atr&aacute;s" onClick="javascript:history.go(-1);">
</div>