
{% load i18n %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/group.css' %}">

<div id="iml">

<h3>
{% if status == 'received' %}Invitaciones Recibidas{% endif %}
{% if status == 'sent' %}Invitaciones Enviadas{% endif %}
</h3>

{% if invitations %}

    {% for invitation in invitations %}
        <div id="imls">
                {% if status == 'received' %}
                    <h5><label>{{ invitation.from_user.first_name }} {{ invitation.from_user.last_name }}</label> te ha invitado a unirte a 
                    <label>{{ invitation.group.name }}</label>.</h5>
                    <a href="{% url 'user_view' invitation.to_user.email %}" class="btn btn-info" role="button">Ver Perfil</a>
                    <a href="{% url 'groups_respond_invitation' invitation.group.id invitation.pk %}" class="btn btn-info" role="button">Responder Invitaci&oacute;n</a>
                {% endif %}
                {% if status == 'sent' %}
                    <h5>Has invitado a <label>{{ invitation.to_user.first_name }} {{ invitation.to_user.last_name }}</label> a unirse a 
                    <label>{{ invitation.group.name }}</label>.</h5>
                    <a href="{% url 'user_view' invitation.from_user.email %}" class="btn btn-info" role="button">Ver Perfil</a>
                    <a href="{% url 'groups_delete_invitation' invitation.group.id invitation.pk %}" class="btn btn-info" role="button">Eliminar Invitaci&oacute;n</a>
                {% endif %}
          </div>
    {% endfor %}
        <div id="pagination">
            {% if invitations.has_previous %}
            <a href="?page={{ invitations.previous_page_number }}"><-</a>
            {% endif %}

            <span class="current">
            {{ invitations.number }}/{{ invitations.paginator.num_pages }}
            </span>

            {% if invitations.has_next %}
            <a href="?page={{ invitations.next_page_number }}">-></a>
            {% endif %}
        </div>
{% else %}
    {% if status == 'received' %}<h5>No has recibido invitaciones de tus amigos para unirte a alg&uacute;n grupo</h5>{% endif %}
    {% if status == 'sent' %}<h5>No has enviado invitaciones a tus amigos para unirse a alg&uacute;n grupo</h5>{% endif %}
{% endif %}
    <input type=button value="Volver Atr&aacute;s" onClick="javascript:history.go(-1);">
    
</div>