
{% load i18n %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/group.css' %}">

<div id="inv_show">

<h3>
    {% if user == invitation.to_user %}
        Solicitud de uni&oacute;n de {{ user.first_name }} {{ user.last_name }} al grupo {{ invitation.group.name }} 
    {% endif %}
    {% if user == invitation.from_user %}
        Solicitud de uni&oacute;n para {{ user.first_name }} {{ user.last_name }} al grupo {{ invitation.group.name }} 
    {% endif %}
</h3>

    <div id="inv">
    {% if user == invitation.to_user %}
        <form action="" method="post">{% csrf_token %}
            <h5>
                {{ invitation.from_user.first_name }} {{ invitation.from_user.last_name }} 
                quiere que te unas a {{ invitation.group.name }}.
            </h5>
            <h5>&#191;Aceptar invitaci&oacute;n?</h5>
            <input type="submit" name="accept" value="Aceptar"/>
            <input type="submit" name="decline" value="Rechazar"/>
        </form>
    {% endif %}
    {% if user == invitation.from_user %}
        <h5>
            Esperando a que {{ invitation.to_user.first_name }} {{ invitation.to_user.last_name }} 
            acepte tu invitaci&oacute;n a {{ invitation.group.name }} 
        </h5>
        <li><a href="{% url 'groups_delete_invitation' invitation.group invitation.pk %}" class="btn btn-info" role="button">Eliminar Invitaci&oacute;n</a></li>
    {% endif %}
    <input id="bck" type=button value="Volver Atr&aacute;s" onClick="javascript:history.go(-1);">
    </div>
</div>