
{% load i18n %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">


{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/group.css' %}">

<div id="igl">

<h3>
{% if status == 'received' %}Invitaciones Recibidas de {{ group.name }} {% endif %}
{% if status == 'sent' %}Invitaciones Enviadas a {{ group.name }} {% endif %}
</h3>


    {% if invitations %}
        {% for invitation in invitations %}
            <div id="inv">
                {% if status == 'received' %}
                <label>{{ invitation.from_user.first_name }} {{ invitation.from_user.last_name }}
                te ha invitado a unirte a {{ group.name }}.</label>
                <a href="{% url 'groups_respond_invitation' group.id invitation.pk %}" class="btn btn-info" role="button">Responder invitaci&oacute;n</a><br/>
                {% endif %} 
                {% if status == 'sent' %}
                <label>{{ invitation.to_user.first_name }} {{ invitation.to_user.last_name }}
                todav&iacute;a a tu solicitud para unirse a {{ group.name }}</label>
                <a href="{% url 'groups_delete_invitation' group.id invitation.pk %}" id="delete" class="btn btn-info" role="button">
                Eliminar invitaci&oacute;n</a><br/>
                {% endif %}	
            </div>      

        <div id="pagination">
            {% if invitations.has_previous %}
            <a href="?page={{ invitations.previous_page_number }}"><-</a>
            {% endif %}

            <span class="current">
            {{ invitations.number }}/{{ invitations.paginator.num_pages }}
            </span>

            {% if invitations.has_next %}
            <a href="?page={{ invitations.next_page_number }}">-></a>
            {% endif %}
        </div>
            
        {% endfor %}
    {% else %}
        {% if status == 'received' %}
            <h5>Nadie te ha invitado a unirte a {{ group.name }}</h5>
        {% endif %}
        {% if status == 'sent' %}
            <h5>No has invitado a nadie a unirse a {{ group.name }}</h5>
        {% endif %}

{% endif %}
<br/><a id="back" href="{% url 'group_view' group.id %}" class="btn btn-info" role="button">Volver atr&aacute;s</a><br/>

</div>