
{% load i18n %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/group.css' %}">

<div id="invite_group">

<h3>Invitar a tus amigos como miembros de {{ group.name }}</h3>

{% if friends %}
<form id="filt" action="" method="get">
    <label>Filtrar Amigos:</label><input type="text" name="q"/><br/>
    <input type="submit" value="Filtrar"/><br/>
</form>

<form id="sel" action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Enviar Invitaci&oacute;n"/><br/>
</form>
{% else %}
<h5>No tienes m&aacute;s amigos a los que invitar a {{ group.name }}.</h5>
{% endif %}
    <input id="back" type=button value="Volver Atr&aacute;s" onClick="javascript:history.go(-1);">

</div>