{% load i18n %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<div id="detail">

        <h3>Detalles de usuario</h3>
        
        {% if userinfo.profile_photo %}
            <img src="{{ userinfo.profile_photo.image.url }}"><br/>
        {% else %}
            {% if userinfo.user.gender == 'M' %}
                <img src="{% static 'images/male_icon.jpg' %}" alt="MDPhoto"/><br/>
            {% elif userinfo.user.gender == 'F' %}
                <img src="{% static 'images/female_icon.jpg' %}" alt="FDPhoto"/><br/>
            {% endif %}
        {% endif %}<br/>
        
<div id="info">   
        <label>{{ userinfo.user.first_name }} {{ userinfo.user.last_name }}</label><br/>
        
        {{ gender }}, {{ userinfo.user.age }} a&ntilde;os<br/>
                
        {% if userinfo.town %}
            De {{ userinfo.town }}, {{ userinfo.country }}<br/>
        {% else %}
            De {{ userinfo.country }}<br/>
        {% endif %}
        {% if userinfo.network %}
            Trabaja en {{ userinfo.network }}<br/>
        {% endif %}
        {% if userinfo.phone_visible %}
            Tel&eacute;fono: {{ userinfo.phone }}<br/>
        {% endif %}
        Amigos en total: {{ num_friends }} 
            {% if num_friends > 0 %}
                {% if userself %}
                    [<a href="{% url 'list_friends' %}">Ver</a>]
                {% else %}
                    [<a href="{% url 'list_friend_friends' user.email %}">Ver</a>]
                {% endif %}
            {% endif %}<br/>
        Grupos de los que es miembro: {{ num_groups }} 
            {% if num_groups > 0 %}
                {% if userself %}
                    [<a href="{% url 'list_groups' %}">Ver</a>]
                {% else %}
                    [<a href="{% url 'list_friend_groups' user.email %}">Ver</a>]
                {% endif %}
            {% endif %}<br/>
        Grupos que ha creado: {{ num_created_groups }}<br/>
        N&uacute;mero de fotos: {{ num_photos }}
            {% if num_photos > 0 %}
                {% if userself %}
                    [<a href="{% url 'photobook_view' %}">Ver</a>]
                {% else %}
                    [<a href="{% url 'friend_photobook_view' user.email %}">Ver</a>]
                {% endif %}
            {% endif %}<br/>
        N&uacute;mero de comentarios escritos: {{ num_comments }}<br/> 
        Memoria utilizada en almacenamiento: {{ store_size }} MB/5 GB [{{ perc }} %]<br/>
 </div>
    <input type=button value="Volver Atr&aacute;s" onClick="javascript:history.go(-1);">

</div>