<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<div id="editprof">

<h3>Editar informaci&oacute;n de Perfil</h3>

<form action="{% url 'edit_profile' %}" method="post">{% csrf_token %}
<table>
    {{ form.as_table }}
</table>    <input type="submit" value="Editar mi perfil"/>
</form>
<input type=button value="Volver Atr&aacute;s" onClick="javascript:history.go(-1);">
</div>