<body>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/out.css' %}">

<img id="logotype" src="{% static 'images/quaba_logo.png' %}" alt="Logo"/><br/>

{% block title %}<h1>Entrar en Quaba</h1>{% endblock %}
<h2 class="form-signin-heading">Por favor, inicia sesi&oacute;n </h2><br/>
{% block content %}

<form class="form-signin span4" method="get" action="/quaba/login/">{% csrf_token %}

<label>Introduzca su Email: </label><input type="text" id="iemail" name="email"><br/><br/>
<label>Introduzca su Contrase&ntilde;a: </label><input type="password" id="ipwd" name="password"><br/><br/>   
    
<div id="ccc">    
<input id="SBMLG" type="submit" value="Entrar">
<input id="RSTLG" type="reset" value="Borrar todo">
<a href="{% url 'recovery' %}" id="RCVLG" class="btn btn-info" role="button">&#191;Te has olvidado tu contrase&ntilde;a?</a>

</div><br/>
</form>

<a href="{% url 'quaba' %}" id="BCKLG" class="btn btn-info" role="button">Volver atr&aacute;s</a><br/>
{% endblock %}
</body>