
{% load staticfiles %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<link rel="stylesheet" href="{% static 'css/main.css' %}">
<img id="logotype" src="{% static 'images/quaba_logo.png' %}" alt="Logo"/><br/>

<div id="main_menu">

<h3>&#191;Qu&eacute; tal, {{ user.first_name }}?</h3>

<div id="avatar">
{% if profile_photo %}
    <img src="{{ profile_photo.image.url }}">
{% else %}
    {% if user.gender == 'M' %}
        <img src="{% static 'images/male_icon.jpg' %}" alt="MDPhoto"/><br/>
    {% elif user.gender == 'F' %}
        <img src="{% static 'images/female_icon.jpg' %}" alt="FDPhoto"/><br/>
    {% endif %}
{% endif %}
</div>

<div id="main_buttonery">
<a href="{% url 'friends_menu' %}" class="btn btn-info" role="button">Amigos</a><br/>
<a href="{% url 'groups_menu' %}" class="btn btn-info" role="button">Grupos</a><br/>
<a href="{% url 'photos_menu' %}" class="btn btn-info" role="button">Fotos</a><br/>
<a href="{% url 'store_view' %}" class="btn btn-info" role="button">Almacenamiento</a><br/>
<a href="{% url 'messages_inbox' %}" class="btn btn-info" role="button">Mensajer&iacute;a</a><br/>
<a href="{% url 'profile_detail' %}" class="btn btn-info" role="button">Detalles de Usuario</a><br/>
<a href="{% url 'settings_menu' %}" class="btn btn-info" role="button">Configuraci&oacute;n de la Cuenta</a><br/>
<a id='bye' href="{% url 'log_out' %}" class="btn btn-info" role="button">Cerrar Sesi&oacute;n y Salir</a><br/>
</div>

{% if notifications or group_notifications %}

    <form id="fmnotif" action="" method="post">{% csrf_token %}
    <input type="submit" id="notif_clean" name="notif_clean" value="Eliminar todo"/>
    
    {% for notif in notifications %}
    <br/>
    <p><strong>{{ notif.message }}</strong><br/>

    {% if notif.type == VIEW_USER %}
        <a href="{% url 'user_view' notif.parameter_id %}" class="btn btn-info" role="button">Ver Perfil</a><br/>
    {% endif %} 
    {% if notif.type == VIEW_MESSAGES %}
        <a href="{% url 'messages_inbox' %}" class="btn btn-info" role="button">Ir a Bandeja de Entrada</a><br/>
    {% endif %} 
    {% if notif.type == VIEW_USER_PHOTO %}
        <a href="{% url 'photo_view' notif.parameter_id %}" class="btn btn-info" role="button">Ver Foto</a><br/>
    {% endif %}    
    {% if notif.type == VIEW_USER_INVITATION %}
        <a href="{% url 'friends_respond_invitation' notif.parameter_id %}" class="btn btn-info" role="button">Responder Invitaci&oacute;n</a><br/>
    {% endif %}       
    {% if notif.type == VIEW_USER_FOLDER %}
        <a href="{% url 'folder_view' notif.parameter_id %}" class="btn btn-info" role="button">Ver Carpeta</a><br/>
    {% endif %}   
    {% if notif.type == VIEW_STORE %}
        <a href="{% url 'store_view' %}" class="btn btn-info" role="button">Ir al Almacenamiento</a><br/>
    {% endif %} 
    
    <input id="delnot" type="submit" name="notif_delete" value="&#215;"/></p>
    
    {% endfor %}

    {% for notif in group_notifications %}
    
    <br/>
    <p><strong>{{ notif.message }}</strong><br/>

    {% if notif.type == VIEW_GROUP %}
        <a href="{% url 'group_view' notif.group.id %}" class="btn btn-info" role="button">Ver Grupo</a><br/>
    {% endif %}  
    {% if notif.type == VIEW_GROUP_MEMBERS %}
        <a href="{% url 'list_group_members' notif.group.id %}" class="btn btn-info" role="button">Ver Miembros del Grupo</a><br/>
    {% endif %}
    {% if notif.type == VIEW_GROUP_REQUEST %}
        <a href="{% url 'groups_respond_request' notif.group.id notif.parameter_id %}" class="btn btn-info" role="button">Ver Solicitud</a><br/>
    {% endif %}  
    {% if notif.type == VIEW_GROUP_INVITATION %}
        <a href="{% url 'groups_respond_invitation' notif.group.id notif.parameter_id %}" class="btn btn-info" role="button">Responder Invitaci&oacute;n</a><br/>
    {% endif %} 
    {% if notif.type == VIEW_GROUP_PHOTO %}
        <a href="{% url 'group_photo_view' notif.group.id notif.parameter_id %}" class="btn btn-info" role="button">Ver foto</a><br/>
    {% endif %} 

    <input id="delnot" type="submit" name="notif_delete" value="&#215;"/></p>
    
    {% endfor %}

    </form>
{% endif %}

</div>