<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<div id="pwdmod">
<h3>Modificar contrase&ntilde;a</h3>
<form action="{% url 'password_modify' %}" method="post">{% csrf_token %}
<table>
    {{ form.as_table }}
</table><input type="submit" value="Cambiar mi contrase&ntilde;a" />
</form>
<input type=button value="Volver Atr&aacute;s" onClick="javascript:history.go(-1);">
</div>