<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/out.css' %}">
<img id="logotype" src="{% static 'images/quaba_logo.png' %}" alt="Logo"/><br/>

    <h3>Recordar clave de acceso<h3>

    {% if done %}
        {% if error %}
            <h5><p style="color: red;">El DNI no est&aacute; vinculado a ninguna cuenta de Quaba</p></h5>
        {% else %}
            <h3>Hecho</h3><br/>
            <h5>En breve recibir&aacute;s en tu correo electr&oacute;nico un recordatorio con tu clave de acceso</h5>
            <a href="{% url 'log_in' %}" id="BCKRCV" class="btn btn-info" role="button">Volver a la p&aacute;gina de identificaci&oacute;n</a><br/>
        {% endif %}
     {% else %}
        <h4>Introduzca su DNI para demostrar que es una persona f&iacute;sica</h4>
        <h5>Se le enviar&aacute; su clave de acceso a modo de recordatorio por correo electr&oacute;nico</h5>
        <form id="recvform" action="" method="get">{% csrf_token %}
            Introduzca su DNI: <input id="idni" type="text" name="dni"><br/><br/>
            <input type="submit" id="SBMRCV" value="Recordar Clave de Acceso"><br/>
        </form>
    <a href="{% url 'log_in' %}" id="BCKRCV" class="btn btn-info" role="button">Volver a la p&aacute;gina de identificaci&oacute;n</a><br/>
    {% endif %}

