<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/out.css' %}">

<img id="logotype" src="{% static 'images/quaba_logo.png' %}" alt="Logo"/><br/>

    {% if registered %}
        <h3>Hola, {{ name }}. Bienvenido a Quaba!<br/>
        <a id='xx' href="{% url 'log_in' %}">Haz click aqu&iacute;</a> para iniciar sesi&oacute;n en Quaba.</h3>
    {% else %}
        <h1>&#161;&Uacute;nete!</h1><br/>
        <form id="register_form" method="post" action=""> {% csrf_token %}  
            <table>
                {{ user_form.as_table }}
            </table>
            
            <input id="SBMRG" type="submit" value="Crear Cuenta"><br/>
            <input id="RSTRG" type="reset" value="Volver a Empezar"><br/>
        </form>
    <input id="BCKRG" type=button value="Volver Atr&aacute;s" onClick="javascript:history.go(-1);">
    {% endif %}
