
{% load i18n %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<div id="settings">

<h3>Configuraci&oacute;n de tu cuenta</h3>
<div id="buttons">
    <a href="{% url 'edit_profile' %}" class="btn btn-info" role="button">Editar Perfil/Informaci&oacute;n personal</a><br/>
    <a href="{% url 'password_modify' %}" class="btn btn-info" role="button">Nueva contrase&ntilde;a</a><br/>
    <a href="{% url 'sign_down' %}" class="btn btn-info" role="button">Darse de baja</a><br/>
    <a href="{% url 'main_menu' %}" class="btn btn-info" role="button">Volver a la p&aacute;gina de inicio</a><br/>
</div></div>