
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<div id="sign_down">

<h3>Darse de baja</h3>

{% if attempted %}
    {% if done %}
        <h5 id="done">Hasta siempre. Ha sido un placer compartir tus momentos. Te echaremos mucho de menos :_(</h5>
        <a href="{% url 'log_in' %}" class="btn btn-info" role="button">Volver a la p&aacute;gina de autenticaci&oacute;n</a>
    {% else %}
        <h5 id="undone">Sabia decisi&oacute;n. Encantados de que sigas con nosotros :)</h5>
        <a href="{% url 'main_menu' %}" class="btn btn-info" role="button">Volver a la p&aacute;gina de inicio.</a>
    {% endif %}
{% else %}
    <h5>&#191;Seguro que quieres darte de baja definitivamente en Quaba?</h5>
    <h5 id="out">Piensa que todos tus datos ser&aacute;n eliminados definitivamente y no podr&aacute;n recuperarse m&aacute;s adelante.</h5>
    
    <form action="{% url 'sign_down' %}" method="post">{% csrf_token %}
        <input type="submit" name="sign_down" value="Darme de baja"/>
        <input type="submit" name="not_sign_down" value="Seguir aqu&iacute;"/>
    </form>
    <input type=button value="Volver Atr&aacute;s" onClick="javascript:history.go(-1);">
{% endif %}

</div>