<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/out.css' %}">
<img id="logotype" src="{% static 'images/quaba_logo.png' %}" alt="Logo"/><br/>

<h3>ACERCA DE QUABA</h3>
<p id="about">
Quaba es una Red Social que te permite conectar con tus amigos,<br/> 
compartir tus fotos y almacenar tus archivos y compartirlos con<br/> 
tus amigos.</p><br/>
<p id="creds">
Creada por &Aacute;lvaro Rojas-Flores Pere&ntilde;a.<br/>
Universidad de M&aacute;laga<br/>
2015<br/>
Todos los derechos reservados</p><br/>
</p>
<input id="BCKABT" type=button value="Volver Atr&aacute;s" onClick="javascript:history.go(-1);">

