

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/out.css' %}">
<img id="logotype" src="{% static 'images/quaba_logo.png' %}" alt="Logo"/><br/>

<h2>Tus amigos, tus fotos, tus archivos, tu mundo... en un solo lugar: &#161;&eacute;ste!</h2><br/>
<form id="welcome_form" action="" method="post">{% csrf_token %}
    <input type="submit" name="register" value="Reg&iacute;strate en Quaba"/><br/><br/>
    <input type="submit" name="login" value="Entra en Quaba"/><br/><br/>
    <input type="submit" name="about" value="Acerca de Quaba"/><br/><br/>
</form>
