<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/photos.css' %}">

<div id="phlikes">
{% if likes %}<h3>Esta foto le gusta a:</h3>
    {% for like in likes %}
        <a href="{% url 'user_view' like.email %}">{{ like.first_name }} {{ like.last_name }}</a> <br/>
    {% endfor %}
    <div id="pagination">
            {% if likes.has_previous %}
            <a href="?page={{ likes.previous_page_number }}"><-</a>
            {% endif %}

            <span class="current">
            {{ likes.number }}/{{ likes.paginator.num_pages }}
            </span>

            {% if likes.has_next %}
            <a href="?page={{ likes.next_page_number }}">-></a>
            {% endif %}
        </div>
{% endif %}<br/>
<input type=button value="Volver Atr&aacute;s" onClick="javascript:history.go(-1);"></div>