{% load i18n %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/photos.css' %}">

<div id="pview">
    <h3>{% if photo.title %}
        {{ photo.title }}
    {% else %}
        Foto Sin T&iacute;tulo
    {% endif %}</h3>
    
        <h5 id="owner">
        <img src="{{ photo.image.url }}"><br/>
        <br/><br/>Subida por <a href="{% url 'user_view' photo.creator.email %}">
        {{ photo.creator.first_name }} {{ photo.creator.last_name }}</a>,<br/>
        el {{ photo.created|date:_("DATETIME_FORMAT") }}</h5>
        {% if pcr %}<div id="buttedit">
            <a href="{% url 'group_rename_photo' group.id photo.id %}" class="btn btn-info" role="button">Editar nombre de foto</a><br/>
            <a href="{% url 'group_main_photo' group.id photo.id %}" class="btn btn-info" role="button">Foto Principal de Grupo</a><br/>
            <a href="{% url 'group_delete_photo' group.id photo.id %}" class="btn btn-info" role="button">Eliminar </a><br/></div>
        {% endif %}
        <div id="buttbasic">
        <a href="{% url 'group_like_photo' group.id photo.id %}" class="btn btn-info" role="button">Me gusta</a><br/><br/>
        <br/><strong>A {{ photo.likes }} persona(s) le(s) gusta esta foto</strong>
        {% if photo.likes > 0 %}
        <a id="see" href="{% url 'group_photo_likes_list' group.id photo.id %}" class="btn btn-info" role="button">Ver</a>
        {% endif %} <br/><br/>
        <br/><a href="{% url 'group_photo_new_comment' group.id photo.id %}" class="btn btn-info" role="button">Comentar foto</a><br/>
        <br/><a href="{% url 'group_photobook_view' group.id %}" class="btn btn-info" role="button">Volver Atr&aacute;s</a><br/>
        
        <div id="photocomm">
        {% if comm %}  
            {% for c in comm %}<div id="comm">
                <p id="labcom">{{ c.comment.ctext }}</p> <br/>
                Escrito por <a id="commauth" href="{% url 'user_view' photo.creator.email %}">
                {{ c.comment.author.first_name }} {{ c.comment.author.last_name }}</a>,<br/>
                el {{ c.created|date:_("DATETIME_FORMAT") }}<br/>
                <a id="likecom" href="{% url 'group_photo_like_comment' group.id photo.id c.id %}" class="btn btn-info" role="button">Me gusta</a><br/>
                <p><label id="nlikes">A {{ c.likes }} persona(s) le(s) gusta este comentario</label>
                {% if c.likes > 0 %}
                    <a id="see" href="{% url 'group_photo_comment_likes_list' group.id photo.id c.id %}" class="btn btn-info" role="button">Ver</a></p> <br/>
                {% endif %} <br/>
                {% if pcr %}  
                    <a id="delcom" href="{% url 'group_photo_remove_comment' group.id photo.id c.id %}" class="btn btn-info" role="button">Eliminar comentario</a><br/>
                {% endif %}  </div> <br/><br/><br/><br/>
            {% endfor %}
            
            <div id="pagination">
            {% if comm.has_previous %}
            <a href="?page={{ comm.previous_page_number }}"><-</a>
            {% endif %}

            <span class="current">
            {{ comm.number }}/{{ comm.paginator.num_pages }}
            </span>

            {% if comm.has_next %}
            <a href="?page={{ comm.next_page_number }}">-></a>
            {% endif %}
        </div>
        {% else %}
        <h5>Esta foto a&uacute;n no tiene comentarios</h5>
        {% endif %}
    
</div></div></div></div>