
{% load i18n %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/photos.css' %}">

<div id="phshare">
<h3>Compartir foto</h3>

{% if friends %}
<form action="" method="get">
    Filtrar Amigos: <input type="text" name="q"/><br/>
    <input type="submit" value="Filtrar"/><br/>
</form>

<form method="post" action="">{% csrf_token %}        
    {{form.as_p }}
    <input type="submit" name='share_with' value="Compartir">
</form>

{% else %}
<h5>No tienes m&aacute;s amigos a los que invitar a {{ group.name }}.</h5>
{% endif %}
<a href="{% url 'group_view' group.id %}" class="btn btn-info" role="button">Volver Atr&aacute;s</a><br/>
</div>