
{% load i18n %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/photos.css' %}">

<div id="renph">

<h3>Cambiar nombre de foto</h3>

<form action="" method="post">{% csrf_token %}
    
    <p>{{form.as_p }}</p>
    
	<input type="submit" value="Confirmar"/>
</form>
<a href="{% url 'group_photo_view' group.id photo.id %}" class="btn btn-info" role="button">Volver Atr&aacute;s</a><br/>
</div>