{% load i18n %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/photos.css' %}">

<div id="upload">

<h3>Subir foto</h3>


<form method="post" action="" enctype="multipart/form-data">{% csrf_token %}
                    
    <p>{{ form.as_p }}</p>

    <input type="submit" value="Subir foto">
</form>

<a href="{% url 'group_view' group.id %}" class="btn btn-info" role="button">Volver Atr&aacute;s</a><br/>

</div>
