{% load i18n %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/photos.css' %}">

<div id="gpbview">

<h3>Fotos de {{ group.name }}</h3>

    {% if photos %}
        {% for photo in photos %}
            <img src="{{ photo.image.url }}"><br/><br/>
            <a href="{% url 'group_photo_view' group.id photo.id %}" class="btn btn-info" role="button">Ver foto de {{ group.name }}</a>
        <br/>
        {% endfor %}
                <div id="pagination">
            {% if photos.has_previous %}
            <a href="?page={{ photos.previous_page_number }}"><-</a>
            {% endif %}

            <span class="current">
            {{ photos.number }}/{{ photos.paginator.num_pages }}
            </span>

            {% if photos.has_next %}
            <a href="?page={{ photos.next_page_number }}">-></a>
            {% endif %}
            
 <a id="filter" href="{% url 'group_filter_photos' group.id %}" class="btn btn-info" role="button">Buscar Fotos de {{ group.name }}</a><br/>
                       
        </div>
        
    {% else %}
        <h5>No hay fotos que mostrar</h5>
    {% endif %}<br/>
    <br/><br/>
    <a id="gp" href="{% url 'group_upload_photo' group.id %}" class="btn btn-info" role="button">Subir foto</a><br/>
    <a id="gp" href="{% url 'group_view' group.id %}" class="btn btn-info" role="button">Volver atr&aacute;s</a><br/>

</div>
</div>
</div>