<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/photos.css' %}">

<div id="search_photo_form">

<h3>Buscar fotos

{% if group %}
    de {{ group.name }}
{% endif %}

{% if friend %}
    de {{ friend.first_name }} {{ friend.last_name }}
{% endif %}.
</h3>


<form action="" method="get">
    <h5>Introduce a&ntilde;o y mes de la foto que est&aacute;s buscando</h5>
    <label>A&ntilde;o: </label><input id="year" type="number" name="year" min="2000" max="2099"><br/>
    <label>Mes: </label><input id="month" type="number" name="month" min="1" max="12"><br/>  
    <input type="submit" value="Buscar"><br/>
</form>

{% if group %}
<a href="{% url 'group_photobook_view' group.id %}" class="btn btn-info" role="button">Volver Atr&aacute;s</a><br/>
{% endif %}

{% if friend %}
<a href="{% url 'friend_photobook_view' friend.email %}" class="btn btn-info" role="button">Volver Atr&aacute;s</a><br/>
{% endif %}

{% if not friend and not group %}
<a href="{% url 'photobook_view' %}" class="btn btn-info" role="button">Volver Atr&aacute;s</a><br/>
{% endif %}

</div>