<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/group.css' %}">

<div id="sch_group_form">

<h3>Buscar Grupo</h3>

<form action="" method="get">
    <h5>Introduce un t&eacute;rmino de b&uacute;squeda en el recuadro de abajo</h5>
    <div id="tx">
        <label>Nombre de Grupo: </label><input type="text" name="q"><br/>
    </div>   
    <input type="submit" value="Buscar"><br/>
    <input type=button value="Volver Atr&aacute;s" onClick="javascript:history.go(-1);">
</form>

</div>