<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/storage.css' %}">

<div id="sch_folder_res">
<h3>Buscar Archivos o Carpetas en {{ folder.name }}</h3>{% if query %}<h5>B&uacute;squeda: '{{ query }}'</h5>{% endif %}

{% if empty %}
    <p id="nfnd">No hay archivos ni carpetas que cumplan tus criterios de b&uacute;squeda.<br/>
{% endif %}
{% if folders %}
    <div id="found">
    <h5><strong>Encontrado(s) {{ folders|length }} carpeta(s).</strong></h5>
    {% for folder in folders %}
    <p>
        <label>{{ folder.name }}</label>
        <a href="{% url 'folder_view' folder.id %}" class="btn btn-info" role="button">Ver carpeta</a><br/>
        <a href="{% url 'download_folder' folder.id %}" class="btn btn-info" role="button">Descargar carpeta completa</a><br/>
        <a href="{% url 'move_folder_into_folder' folder.id %}" class="btn btn-info" role="button">Mover carpeta a carpeta</a><br/>
        <a href="{% url 'delete_folder' folder.id %}" class="btn btn-info" role="button">Eliminar</a></p>
    {% endfor %}
    </div>
{% endif %}<br/><br/><br/>
{% if files %}
    <div id="found">
    <h5><strong>Encontrado(s) {{ files|length }} archivo(s).</strong></h5>
    {% for file in files %}
    <p>
        <label>{{ file.filename_as_list|last }}</label>
        <a href="{% url 'download_file' file.id %}" class="btn btn-info" role="button">Descargar archivo</a><br/>
        <a href="{% url 'share_file' file.id %}" class="btn btn-info" role="button">Compartir archivo</a><br/>
        <a href="{% url 'move_file_into_folder' file.id %}" class="btn btn-info" role="button">Mover archivo a carpeta</a><br/>
        <a href="{% url 'delete_file' file.id %}" class="btn btn-info" role="button">Eliminar</a></p><br/><br/>
    {% endfor %}
    </div>
{% endif %}
<input id="back" type=button value="Volver Atr&aacute;s" onClick="javascript:history.go(-1);">
</div><br/>