<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<div id="search_user_form">

<h3>Buscar Usuario</h3>
    
<h5>Introduce un t&eacute;rmino de b&uacute;squeda en el recuadro de abajo</h5>

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">


<form action="" method="get">
    <div id="tx">
        <p>Nombre o Apellidos de tus amigos:</p> <input id="tsch" type="text" name="q"><br/>
    </div>
    <div id="cboxes">
        <p>Puedes utilizar tambi&eacute;n otros filtros de b&uacute;squeda como los siguientes:</p>
        <input type="checkbox" name="selected_country"><label>Filtrar por Pa&iacute;s</label><br/>
        <input type="checkbox" name="selected_town"><label>Filtrar por Ciudad</label><br/>
        <input type="checkbox" name="selected_network"><label>Filtrar por Trabajo</label><br/>
        <input type="checkbox" name="selected_age"><label>Filtrar por Edad</label><br/>
    </div>
   
    <input type="submit" value="Buscar">
</form>
<input type=button value="Volver Atr&aacute;s" onClick="javascript:history.go(-1);">

</div>