<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<div id="search_user_res">

<h3>Buscar Usuarios</h3>

<h5>
{% if query %}
    B&Uacute;SQUEDA TEXTO: '{{ query }}'<br/>
{% endif %}
{% if ai %}<br/>
    {% if sel_cnt %}Nacionalidad: {{ ai.country }}<br/>{% endif %}
    {% if sel_twn %}
        {% if ai.town %}
            Localidad: {{ ai.town }}
        {% else %}
            Localidad sin especificar
        {% endif %}<br/>
    {% endif %}
    {% if sel_age %}Edad: {{ ai.user.age }}<br/>{% endif %}
    {% if sel_ntw %}
        {% if ai.network %}
            Lugar de Trabajo: {{ ai.network }}
        {% else %}
            Lugar de trabajo sin especificar
        {% endif %}<br/>
    {% endif %}
{% endif %}
</h5>

{% if users %}
    <p><strong>Encontrado(s) {{ users|length }} usuario(s):</strong><p/>
    {% for user in users %}<p>
        {% if user in friends %}<div id="friends"><p>{% endif %}
            <a href="{% url 'user_view' user.email %}">{{ user.first_name }} {{ user.last_name }}. </a>
            {% if ai.profile_photo %} <img id="pphoto">{{ ai.profile_photo.image.url }}
            {% else %}
                {% if user.gender == 'M' %}
                <img id="pphoto" src="{% static 'images/male_icon.jpg' %}" alt="MDPhoto"/>
                {% elif user.gender == 'F' %}
                <img id="pphoto" src="{% static 'images/female_icon.jpg' %}" alt="FDPhoto"/>
                {% endif %}
            {% endif %}
         {% if user in friends %}</p></div>{% endif %}<br/><br/><br/>
        </p>
    {% endfor %}<br/>
        <div id="pagination">
            {% if users.has_previous %}
            <a href="?page={{ users.previous_page_number }}"><-</a>
            {% endif %}

            <span class="current">
            {{ users.number }}/{{ users.paginator.num_pages }}
            </span>

            {% if users.has_next %}
            <a href="?page={{ users.next_page_number }}">-></a>
            {% endif %}
        </div>
    <p id="gr">Los usuarios marcados en color <label id="green">verde</label> son amigos tuyos.</p>
{% else %}
    <p><strong>No hay usuarios que cumplan tus criterios de b&uacute;squeda.</strong></p>
{% endif %}
<input type=button value="Volver Atr&aacute;s" onClick="javascript:history.go(-1);">


</div>