<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/group.css' %}">

<div id="sch_group_res">
<h3>Buscar Grupos</h3>{% if query %}<h5>B&uacute;squeda: '{{ query }}'</h5>{% endif %}

{% if groups %}
    <div id="found">
    <h5><strong>Encontrado(s) {{ groups|length }} grupo(s).</strong></h5>
    {% for group in groups %}
    <p>
        <label>{{ group.name }}</label>
        <a href="{% url 'group_view' group.id %}" class="btn btn-info" role="button">Ver Grupo</a></p>
    {% if group in user_groups %}
        <p id="ug">Eres miembro de este grupo</p>
    {% endif %}
    {% if group.creator == user %}
        <p id="uc">Eres el creador del grupo</p>
    {% endif %}
    {% endfor %}
    <div id="pagination">
            {% if groups.has_previous %}
            <a href="?page={{ groups.previous_page_number }}"><-</a>
            {% endif %}

            <span class="current">
            {{ groups.number }}/{{ groups.paginator.num_pages }}
            </span>

            {% if groups.has_next %}
            <a href="?page={{ groups.next_page_number }}">-></a>
            {% endif %}
    </div>
    <input id="back" type=button value="Volver Atr&aacute;s" onClick="javascript:history.go(-1);">
    </div>

{% else %}
    <p id="nfnd">No hay grupos que cumplan tus criterios de b&uacute;squeda.<br/>
    <input id="back" type=button value="Volver Atr&aacute;s" onClick="javascript:history.go(-1);"></p>
{% endif %}

</div>