<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/photos.css' %}">

{% if group %}
<div id="gpbview">
{% else %}
<div id="pbview">
{% endif %}

<h3>Buscar fotos

{% if group %}
    de {{ group.name }}
{% endif %}

{% if friend %}
    de {{ friend.first_name }} {{ friend.last_name }}
{% endif %} de {{ date }}.
</h3>

{% if photos %}
            {% for photo in photos %}
                {% if group %}
                    <a href="{% url 'group_photo_view' group.id photo.id %}" id="view" class="btn btn-info" role="button">
                {% endif %}
                {% if friend %}
                    <a href="{% url 'friend_photo_view' friend.email photo.id %}" id="view" class="btn btn-info" role="button">
                {% endif %}
                {% if not friend and not group %}
                    <a href="{% url 'photo_view' photo.id %}" id="view" class="btn btn-info" role="button">
                {% endif %}
                    <h5>{{ photo.title }}</h5>
                    <img src="{{ photo.image.url }}">
                </a>
            {% endfor %}
            <br/>
            {% if photos.has_previous %}
            <a href="?page={{ photos.previous_page_number }}"><-</a>
            {% endif %}

            <span class="current">
            {{ photos.number }}/{{ photos.paginator.num_pages }}
            </span>

            {% if photos.has_next %}
            <a href="?page={{ photos.next_page_number }}">-></a>
            {% endif %}
            
        {% else %}
            <h5>No hay fotos que mostrar</h5> 
        {% endif %}

{% if group %}
<a id="filter" href="{% url 'group_filter_photos' group.id %}" class="btn btn-info" role="button">Nueva b&uacute;squeda</a><br/>
<a id="back" href="{% url 'group_photobook_view' group.id %}" class="btn btn-info" role="button">Volver Atr&aacute;s</a><br/>
{% endif %}

{% if friend %}
<a id="filter" href="{% url 'friend_filter_photos' friend.email %}" class="btn btn-info" role="button">Nueva b&uacute;squeda</a><br/>
<a id="back" href="{% url 'friend_photobook_view' friend.email %}" class="btn btn-info" role="button">Volver Atr&aacute;s</a><br/>
{% endif %}

{% if not friend and not group %}
<a id="filter" href="{% url 'filter_photos' %}" class="btn btn-info" role="button">Nueva b&uacute;squeda</a><br/>
<a id="back" href="{% url 'photobook_view' %}" class="btn btn-info" role="button">Volver Atr&aacute;s</a><br/>
{% endif %}

</div>