

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/group.css' %}">

<div id="delgr">
<h3>Eliminar grupo</h3>

<h5>&#191;Seguro que quieres eliminar el grupo {{ group.name }}?</h5>
<form action="" method="post">{% csrf_token %}
<input type="submit" name="delete" value="Confirmar"/>
<input type="submit" name="no_delete" value="Cancelar"/>
</form>
</div>