
{% load i18n %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/group.css' %}">

<div id="rnmgroup">

<h3>Cambiar nombre de grupo</h3>

<form action="" method="post">{% csrf_token %}
	<p>
		{{ form.as_p }}
	</p>
	<input type="submit" value="Confirmar"/>
    <input type=button value="Volver Atr&aacute;s" onClick="javascript:history.go(-1);">
</form>
    
</div>