
{% load i18n %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/group.css' %}">

<h3>Seleccionar foto de grupo</h3>

<form action="" method="post">{% csrf_token %}
	<table>
		{{ form.as_table }}
	</table>
	<input type="submit" value="Confirmar"/>
</form>
    <input type=button value="Volver Atr&aacute;s" onClick="javascript:history.go(-1);">
