
{% load i18n %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/group.css' %}">

<div id="cgroup">

<h3>Crear grupo nuevo</h3>

<form action="" method="post">{% csrf_token %}
	<table>
		{{ form.as_table }}
	</table>
    <div id="click">
        <input id="cr" type="submit" value="Crear grupo"/><br/>
        <input id="back" type=button value="Volver Atr&aacute;s" onClick="javascript:history.go(-1);">
    </div>
</form>

</div>
    