
{% load i18n %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/group.css' %}">

<div id="newco">

<h3>Nuevo comentario en {{ group.name }}</h3>

<form action="" method="post">{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Enviar comentario"/>
</form>
<input type=button value="Volver Atr&aacute;s" onClick="javascript:history.go(-1);">

</div>