
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/group.css' %}">

<div id="del_comm">

<h3>Eliminar comentario de grupo</h3>

<form action="" method="post">{% csrf_token %}
<h5>&#191;Seguro que quieres eliminar este comentario de {{ group.name }} ?</h5>
<input type="submit" name="delete" value="Confirmar"/>
<input type="submit" name="no_delete" value="Cancelar"/>
</form>

</div>