
{% load i18n %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/group.css' %}">

<div id="gmb">
<h3>Miembros de {{ group.name }}</h3>

{% if members %}
{% for member in members %}
    <div id="mbs">
    {% if member.email == group.creator.email %}<div id="crt">{% endif %}
    <label>{{ member.first_name }} {{ member.last_name }}<br/></label>
    {% if member.email == group.creator.email %}<br/>(Creador del grupo)</div>{% endif %}
    
        {% if user.email == member.email %}
        <a id="own" href="{% url 'profile_detail' %}" class="btn btn-info" role="button">Tus Datos</a>
        {% else %}
        <a href="{% url 'user_view' member.email %}" class="btn btn-info" role="button"> Ver perfil</a>
        {% endif %}
        
        {% if user.email == group.creator.email and user.email != member.email %}
        <a href="{% url 'remove_from_group' group.id member.email %}" class="btn btn-info" role="button">Eliminar del grupo</a><br/>
        {% endif %}<br/>
    </div>
{% endfor %}
        <div id="pagination">
            {% if members.has_previous %}
            <a href="?page={{ members.previous_page_number }}"><-</a>
            {% endif %}

            <span class="current">
            {{ members.number }}/{{ members.paginator.num_pages }}
            </span>

            {% if members.has_next %}
            <a href="?page={{ members.next_page_number }}">-></a>
            {% endif %}
        </div>
<br/><a href="{% url 'search_group_member' group.id %}" id="filter" class="btn btn-info" role="button">Filtrar miembros de {{ group.name }}</a><br/>
{% else %}
<h5>No hay nadie que se haya unido a&uacute;n a este grupo</h5>
{% endif %}
<a href="{% url 'group_view' group.id %}" id="bck" class="btn btn-info" role="button">Volver Atr&aacute;s</a><br/>
</div>
