{% load i18n %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/group.css' %}">

<div id="leave">
<h3>Dejar grupo</h3>
<form action="" method="post">{% csrf_token %}
    <h5>&#191;Seguro que quieres abandonar {{ group.name }}?</h5>
    <input type="submit" name="leave" value="Confirmar"/>
    <input type="submit" name="no_leave" value="Cancelar"/>
</form>
</div>